[2017-03-21 02:51] alfa756 opened #1 "Wrong git path?"
The path for 1080p hack is the same as 720p camera and therefore does not work on 1080p version. Could you please post the correct git path? Thank you

[2017-03-21 06:21] pasagame opened #2 "cannot use on yi v1 upgrade 1080p"
i look on putty this show picture.

https://www.img.in.th/image/CoEq
https://www.img.in.th/image/ColN

[2017-03-21 19:14] xmflsct commented on #2
I am sorry, but I haven't figured out RTSP server yet. So only FTP and Telnet are working.

[2017-03-21 19:15] xmflsct commented on #1
They are not the same, if you look into detail file structures, etc. However I haven't been able to get RTSP server working yet, so only FTP and Telnet are working.

[2017-03-21 21:21] iamcanadian2222 commented on #2
@xmflsct I saw your comments in the [fritz-smh repository (issue #141)](https://github.com/fritz-smh/yi-hack/issues/141) - I haven't had a chance to look into the details of the RTSP server myself, but I am looking forward to any progress that is made!

[2017-03-21 21:28] xmflsct commented on #2
@iamcanadian2222 Should you have any suggestions of how to proceed, please let me know. I do have some difficulties in cross-compiling from official SDK.

[2017-03-25 03:09] ilzc commented on #2
How is the RTSP server going? Can you write down some cross-compiling errors here?

[2017-03-25 03:12] ilzc commented on #2
How is the RTSP server going? Could you write down some cross-compiling errors here?

[2017-03-25 20:12] xmflsct commented on #2
@ilzc I can successfully cross-compile the official SDK samples, but when I run the exec on the camera, it is either segmentation fault or "line 1: syntax error: unexpected word (expecting ')')". And I try to cross-compile a simple hello world, then same problem...

[2017-03-25 21:34] Orlandus commented on #1
Hi. Can you give me advice how to use this camera (xiaomi yi 1080p upgrade to v1) not in China?

[2017-03-25 21:41] xmflsct commented on #1
@Orlandus How do you want to use it? With official app? Or through custom RTSP stream?

[2017-03-25 21:41] Orlandus commented on #1
@xmflsct with official app

[2017-03-25 21:49] xmflsct commented on #1
@Orlandus Then I am not sure. I read somewhere that if you had previously associated the cam with the app, after blocking verification request, you can still connect to the app. But I haven't tried that myself. But if you haven't, then you probably cannot do it anymore.

[2017-03-25 21:53] Orlandus commented on #1
@xmflsct you want to say that i can't use it and there is no any variants?

[2017-03-25 21:55] xmflsct commented on #1
@Orlandus As far as I know, it is almost impossible to use it with the official app. But feel free to read how what other people said in the original yi-hack project and internet. I am working on a custom RTSP server for 1080p version, which is the way I wanted to have the camera to work.

[2017-03-25 22:03] Orlandus commented on #1
@xmflsct it's very sad :( i bought this camera accidentally instead of 720p version :((
can you give advice how use RTSP on it?

[2017-03-25 22:06] xmflsct commented on #1
@Orlandus Not yet, as I am still working on it, and I did not find another other project working on it yet.

[2017-03-25 22:09] Orlandus commented on #1
@xmflsct thanks for your answers. I hope somebody will hack this :(

[2017-03-26 01:42] ilzc commented on #2
@xmflsct It's probably the file is not executable. try command  "file $YourFile" or "readelf -h hello_qt" to see if it's executable or not.

example(excutable):
~/test$ file hello_qt
hello_qt: ELF 32-bit LSB executable, ARM, version 1, dynamically linked (uses shared libs), not stripped

[2017-03-26 01:46] ilzc commented on #2
@xmflsct  try to remove gcc compile args '-c'.

[2017-03-26 12:25] xmflsct commented on #2
@ilzc Thanks. Yes I tried to use 'file' to see if the output is really an executable. And they were perfect executables but just cannot run properly.

Tomorrow I will try to use some extra arguments to see if that helps. I am not an expert in compiling, therefore I have little knowledge about how to debug stuff...

If you would like to try a bit as well, herewith a link to the official SDK that I

[2017-03-26 12:53] lambokini opened #3 "can't use this hack to 1080p"
I don't what I have done to my YI camera 1080p. but now when I use yi-hack-1080p, the ttl output likes this:

System startup
=========1
hello, open console

 do_auto_sd_update: detect flash size: 0x1000000, gsdexist=1
Interface:  MMC
  Device 0: Vendor: Man 02544d Snr 9c000146 Rev: 0.4 Prod: SA08G
            Type: Removable Hard Disk
            Capacity: 7604.0 MB = 7.4 GB (15572992 x 512)
Parti

[2017-03-26 12:56] lambokini commented on #3
another output

System startup
=========1
hello, open console

 do_auto_sd_update: detect flash size: 0x1000000, gsdexist=1
Interface:  MMC
  Device 0: Vendor: Man 02544d Snr 9c000146 Rev: 0.4 Prod: SA08G
            Type: Removable Hard Disk
            Capacity: 7604.0 MB = 7.4 GB (15572992 x 512)
Partition 1: Filesystem: FAT32 "NO NAME    "
     4096   ._.trashes
            .trashes/

[2017-03-26 13:03] xmflsct commented on #3
Seems like your system partition is corrupt, but uboot and kernel are fine, fortunately. I did read in the original yi-hack issues that someone had a similar issue before. I have no idea why. This didn't happen to me.
If you want, I can post my system's image to you, and you can restore it using uboot.

[2017-03-26 13:14] lambokini commented on #3
@xmflsct thanks a lot:)
but it seems that I can't pause autoboot since boot log says: Hit any key to stop autoboot: 0
do you have any idea to fix this .

[2017-03-26 13:20] xmflsct commented on #3
@lambokini  That's true. This version of camera has a default 0 of delay so you cannot pause autoboot. But yes, there is a way to modify this, but not a very straightforward way. You can refer to my comment [here](https://github.com/fritz-smh/yi-hack/issues/141#issuecomment-283756414).

[2017-03-26 13:23] lambokini commented on #3
@xmflsct I will read your comment. you saved me :)

[2017-03-26 13:27] xmflsct commented on #3
@lambokini By the way, if you happen to be able to increase boot delay, let me know if you can interrupt the process by pressing any key. My camera does not accept any RX/TX input, so I have no idea if this is a general issue or my camera's issue...

[2017-03-26 13:41] lambokini commented on #3
@xmflsct I will example mkubootenv/example/uboot_env.bin file to saved as env_y20 to my SD.
the output is:
magic 0xd93f5b2e 0x27051956
arch 0x64 0x2
size 0x3d313135 0x40
type 0x72 0x2
crc 0x64756162
name 4050000
Image env_y20 bad MAGIC or ARCH

any wrong with me?

[2017-03-26 15:55] lambokini commented on #3
reading env_y20

magic 0x27051956 0x27051956
arch 0x2 0x2
size 0xf7 0x40
type 0x7 0x2
crc 0xc443b3cf
name 7518-hi3518-env
idx1: old : ffffffff, new : 58d7e333
reading env_y20
write_len too big <==================================== this is the error
any wrong with the image ?

Image name:     7518-hi3518-env

[2017-03-27 10:07] xmflsct commented on #3
@lambokini You have to be careful of the size of your original env file, and your generated file. Herewith my env file, [download](https://www.dropbox.com/s/psjytpjf0ghk2us/env_y20_new?dl=0). This ones has a boot delay of 10 seconds.

[2017-03-27 11:23] shadow-1 commented on #3
@lambokini
I have recovered corrupt firmware similar to this before.
Link to my post below.
https://github.com/fritz-smh/yi-hack/issues/137#issuecomment-283488455

With a backup of the rootfs partition from the same camera. I can create a recovery firmware file to restore your camera. All you will need to do is copy the firmware file onto the microSD card and start the camera.

@xmflsct
Do you hap

[2017-03-27 12:01] xmflsct commented on #3
@shadow-1 Yes, I have a full backup of my camera's original partitions, before the latest official update.

[2017-03-27 12:21] shadow-1 commented on #3
@xmflsct
Excellent, do you mind sharing it?
I can create a recovery image and help @lambokini recover his camera.

[2017-03-27 13:05] xmflsct commented on #3
@shadow-1 Wonderful! Herewith my system dump from _dd_.
[system_dump.zip](https://github.com/xmflsct/yi-hack-1080p/files/872500/system_dump.zip)

[2017-03-27 13:48] shadow-1 commented on #3
@xmflsct @lambokini
I'm not sure which partition has been corrupted. So I created a backup of rootfs partition and home partition. So I created a recovery image for both. Links are below:
[rootfs_y20](https://www.dropbox.com/s/vo1qv69wkhf62zi/rootfs_y20?dl=0)
[home_y20](https://www.dropbox.com/s/5q8a37iw25paefi/home_y20?dl=0)

All you need to do is copy the rootfs_y20 and/or home_y20 (depending wh

[2017-03-27 14:23] xmflsct commented on #2
@ilzc Just to update. My hello world test has such output:
_hello: ELF 32-bit LSB executable, ARM, EABI5 version 1 (SYSV), dynamically linked, interpreter /lib/ld-uClibc.so.0, not stripped_
I also tried static link, with no success.

[2017-03-28 01:15] ilzc commented on #2
@xmflsct I don't have a yi-1080 to test right now.
Here are some guides.
Cross-compile settings:
http://blog.csdn.net/cc214042/article/details/52800938
Makefile sample:
https://github.com/xuhuashan/hi3518-osdrv/blob/master/Makefile
Hope the information above will help you .

[2017-04-02 12:02] maysamsh commented on #3
@shadow-1, after copying these two files into the microSD card, the LED is still yellow and nothing works, not even reset.

[2017-04-02 12:46] maysamsh opened #4 "firmware filename"
finename for this revision should be home_y20.
I have tried https://github.com/xmflsct/yi-hack-1080p/issues/3#issuecomment-289458681 but seems the cam is broken. it blinked for about 20 seconds then turned into still yellow, even reset does not work.

[2017-04-02 12:48] xmflsct commented on #4
Yes you are correct. But I don't provide any firmware for upgrade of downgrade as a way to hack it.

[2017-04-02 12:49] maysamsh commented on #4
Someone did, but it does not work.

[2017-04-02 12:49] xmflsct commented on #3
@maysamsh can you provide a terminal output to see if the system does indeed copying the content?

[2017-04-02 12:51] maysamsh commented on #3
@xmflsct I don't know how to do it. any tutorial?

[2017-04-02 14:17] shadow-1 commented on #3
@maysamsh
I created those files as an experimental test recovery image in case the rootfs or home partitions on the camera get corrupted.

I do not have this camera, so to help I have to see what is being shown on the terminal. To access the terminal of the camera, you need to connect to the cameras serial interface. This can be achieved by doing the following:

1. Open up the camera.
2. Solder wi

[2017-04-02 14:27] maysamsh commented on #3
@shadow-1 I'm not sure when I can do the soldering. But about the questions, before using that image file, yes, it was working (asking to pair, etc.). Now when I put a new image file it blinks with yellow light about 30 seconds and then stops blinking (still yellow status).  The SD card is 8GB FAT32.

[2017-04-02 14:43] shadow-1 commented on #3
@maysamsh
Hmm, good news is that the recovery method works and your camera is definitely recoverable. Bad news is that I must have made a small mistake when creating those recovery images and I'm not exactly sure where.

Without seeing the error messages that the camera is displaying, it is very hard to pin point what the problem is.

Perhaps @lambokini could help. As his/her camera is already bri

[2017-04-02 14:51] maysamsh commented on #3
@shadow-1 Thank you. I wonder if is it possible to download the original firmware and boot the cam? The official website provides a file named "2.1.0.0A_201703071456home_y20m" but seems does not work. With this file on the SD (renamed to home_y20) it does not start updating.

[2017-04-02 21:45] shadow-1 commented on #3
@maysamsh
No you won't be able to use the original firmware to restore the camera. The official firmware is an encrypted archive. After extracting the files from the archive, it is basically copy and pasting files with a checksum check. It is not a proper firmware at all.

I explained the processof exactly how the official firmware works in the link below:
https://github.com/fritz-smh/yi-hack/issu

[2017-04-03 04:20] maysamsh commented on #3
@shadow-1 what about restoring from someone else's image?

[2017-04-03 11:40] shadow-1 commented on #3
@maysamsh
That is exactly what this recovery image is.
I have used @xmflsct system backup to create a recovery image.
---
I have recreated the recovery images from scratch:
Please try the following images:
[rootfs_y20](https://www.dropbox.com/s/ewtdo9mwax3ynrq/rootfs_y20?dl=0)
[home_y20](https://www.dropbox.com/s/wija1qzi8zxr4un/home_y20?dl=0)

Like I said before. Without seeing the error message

[2017-04-03 11:47] maysamsh commented on #3
Thanks. I tried the home_y20, it flashed but after about 30 seconds I have still yellow LED. I don't know what to do with rootfs_ys.

[2017-04-03 11:49] xmflsct commented on #3
@maysamsh can you provide a terminal output if possible? Flashing home_y20 might take a bit more time. Flashing rootfs_y20 is the same process.

[2017-04-03 11:56] shadow-1 commented on #3
@maysamsh
The flashing yellow light occurs when the image is being written to flash memory. If your rootfs partition is corrupted, your camera will not work. You need to do the same process but with rootfs_y20 file on the microSD card. As the rootfs partition is so much smaller than the home partition, the yellow light won't flash for very long.

[2017-04-03 12:10] maysamsh commented on #3
@xmflsct I need few days to make the serial connection to the cam, soldering and stuff. I flashed both files. but it's still the same as the attached video shows. [blinking order: blue-yellow-blue-yellow]
![img_8020_small](https://cloud.githubusercontent.com/assets/2828697/24608508/0ddccd92-188c-11e7-9fd2-565fce05b377.gif)

[2017-04-03 12:15] xmflsct commented on #3
The second blue flash seems weird. Never encounter such a situation. Have you also tried to reset the camera after flashing without SD in?

[2017-04-03 12:17] maysamsh commented on #3
@xmflsct It happened after flashing the first image file, and nothing works when it's still image, even I cannot reset it, it does not respond.

[2017-04-03 12:21] maysamsh commented on #3
A tutorial to show what pins should be soldered and their names (TX/RX/GND/VCC) would be enough.

[2017-04-03 12:31] xmflsct commented on #3
[https://youtu.be/3e8jXuxiRzY?t=3m40s](https://youtu.be/3e8jXuxiRzY?t=3m40s) Herewith a video tutorial. Please note that in the video, the serial ports are soldered onto the pins. But for my device, it seems like the pins won't work - RX/TX are not connected. So I solder them onto board as shown in the video. Also note there reference of "RX/TX" in the video, don't make it reverse. :)

[2017-04-03 12:40] maysamsh commented on #3
Okay thanks. I'll post outputs tomorrow this at this time.

[2017-04-03 12:40] shadow-1 commented on #3
@xmflsct
I'm not sure exactly what the issue is with the recovery image.
Can you confirm the erase block size on the camera?
I assumed that the erase block size is 64kb like on the Xiaomi Dome.

To do this, can you post the output of the following command:
cat /proc/mtd

[2017-04-03 12:41] maysamsh commented on #3
@xmflsct okay, i'll do it when I have the connection.

[2017-04-03 12:51] xmflsct commented on #3
@shadow-1 I will have access to my cam in some hours, then will post output. But as I remember, it was 64kb.

[2017-04-03 13:02] xmflsct commented on #3
@shadow-1 Actually, I found back the block sizes from the original yi-hack discussion that I forgot.
`0x000000000000-0x000000040000 : "boot"
0x000000040000-0x000000050000 : "env"
0x000000050000-0x000000060000 : "conf"
0x000000060000-0x0000001f0000 : "os"
0x0000001f0000-0x000000330000 : "rootfs"
0x000000330000-0x000000fe0000 : "home"
0x000000fe0000-0x000000ff0000 : "vd1"
0x000000ff0000-0x0000010000

[2017-04-03 13:03] maysamsh commented on #3
@xmflsct Any chance to fix those image files?

[2017-04-03 13:09] shadow-1 commented on #3
@xmflsct
From this output I see the partition sizes and locations in memory but not the erase block size. It probably is 64kb. However it's best to check. If the images erase block size doesn't match the actual memory on the camera, it will not work. This was an issue when I had to recover my camera.

@maysamsh
We can fix the image files once we know what the issue is when you boot the camera.

[2017-04-03 19:44] xmflsct commented on #3
@maysamsh I can confirm that, the starting flashing of yellow and blue light probably just means that the cam is powered up. Then the long lasting yellow light means the cam stuck somewhere during boot process. Thus without serial output, it is difficult to see where is the problem.

@shadow-1 Finally I get to my cam. Herewith the erase block sizes.

[2017-04-03 22:28] andy2301 commented on #2
@xmflsct I was able to compile and run some programs for the old 720p camera, using the arm-hisiv100nptl-linux compiler. The same binary works on 1080p camera as well. I used the following to configure and make.

CXX=arm-hisiv100nptl-linux-c++ CC=arm-hisiv100nptl-linux-gcc RANLIB=arm-hisiv100nptl-linux-ranlib STRIP=arm-hisiv100nptl-linux-strip ./configure --host=arm-linux && make

Note: don't use

[2017-04-03 22:40] andy2301 commented on #2
@xmflsct Also, I was able to make rtspsrv run on the 1080p with the following trick (copied all settings and libraries from 720p). It runs but couldn't serve the 1080p stream to VLC client (segment fault).

# 1. add the following to /etc/fstab, and then run "mount -a"
echo "tmpfs   /dev/shm   tmpfs   defaults   0   0 \
tmpfs   /home/tmpfs   tmpfs   defaults   0   0 \
tmpfs   /home/mmap_tmpfs   tmp

[2017-04-03 22:46] andy2301 commented on #2
It appears to me that the rtspsvr approach simply can't handle 1080p streaming. Is there an open source verison of the rtspsvr that we can modify and compile?

I also noticed that the new /home/app/p2p_tnp binary can stream to my YiSmart iOS app in 1080p. It's pretty nice! Wish they open source it (daydreaming...)

[2017-04-04 03:00] maysamsh commented on #2
@andy2301 Still I have to run a terminal to fix my problem? anyway to avoid it?

[2017-04-04 03:03] andy2301 commented on #2
@maysamsh avoid what problem? Please elaborate more so that we save time understanding each other.

[2017-04-04 03:17] maysamsh commented on #2
@andy2301 Oh sorry, I thought it was in this topic. Anyway, I restored an image https://github.com/xmflsct/yi-hack-1080p/issues/3#issuecomment-291118970 and now when I turn on the cam it blinks 3 times and turns into a still yellow color. Is it possible to for you to create an image from your camera and I restore it?

[2017-04-04 04:43] andy2301 commented on #2
@maysamsh sorry, i don't know how to create an image. If you know how to, let me know and I can give it a try.

Also, try a google search, I vaguely remember that I saw somebody posted an image online somewhere (can't remember where, and i'm not 100% sure).

[2017-04-04 04:52] andy2301 commented on #2
@maysamsh I found a firmware for you.
http://www.xiaoyi.com/home/firmware/download/?version=4
Click on "download" of the "2.1.0.0A_201703071456" firmware

[2017-04-04 05:48] maysamsh commented on #2
@andy2301 Thanks but that does not work. @xmflsct knows how to create an image from the camera.

[2017-04-04 11:04] xmflsct commented on #2
@andy2301 Thank you so much for the information! It seems that I have another version (that I forgot where I found it) of rtspsvr which listens on port 8554. It runs smoothly until a connection comes in. My version won't get segmentation fault, but instead, `handleCmd_DESCRIBE: get new sps fail`. I am still trying to figure out why it is, and if I can fix it somehow.

Concerning p2p_tnp, I can run

[2017-04-04 12:17] maysamsh commented on #2
@xmflsct Thanks for the file, it flash and at the end blinked in some weird ways, but the result is the same, still yellow. I'm getting a serial-USB connector today and connect it to the cam today or tomorrow.

[2017-04-04 12:22] xmflsct commented on #2
@maysamsh Then we definitely need serial output to understand better things inside... Once we sort that out, we are free. Now I have detached the serial cables and simply use telnet to play with it. :)

[2017-04-04 13:13] shadow-1 commented on #3
@xmflsct Thanks for that. The erase block size is 64kb. So there is no issue with with the erase block size of the image.

[2017-04-04 13:32] shadow-1 commented on #2
@xmflsct I have created my own firmware for the Xiaomi 1080p Dome camera and I have gotten around the region ban on the camera. The same implementation will work for the Yi 1080p Home.
https://github.com/shadow-1/yi-hack-v3

With regards to issues in compiling. You really need to use arm-hisiv300-linux compiler. Other compilers will not work properly with the chipset used on this camera.

I have s

[2017-04-04 13:52] xmflsct commented on #2
@shadow-1 Great! I will take a look how you handle region ban issue in your project. :)

I have little knowledge to C, so I am very slow in resolving compiling and running issues... I do have arm-hisiv300-linux installed. And I can (seems to) compile official mpp sample programs without problem, but they won't run as well. :( `line 1: syntax error: unexpected word (expecting ")")`

If you are fami

[2017-04-04 14:09] shadow-1 commented on #2
I am familiar with the process. I had a quick read through the thread. Unfortunately that thread is is for a completely different camera, the XiaoFang based on a Sonix chipset.

The big advantage for this chipset is that the Sonix SDK includes an sample RTSP server implementation based on live555 library. So simply compiling the sample allowed RTSP to work, then you just need to tweak the sample t

[2017-04-04 14:16] xmflsct commented on #2
@shadow-1 Very clear answer! Thank you so much! Then I won't spend time on that.

By the way, I am trying to run the proxychains4 in your project, but I get `illegal instruction`. I also try to compile it myself using your `config.mak`, the same error. I did also copy the .so from locallib folder. What could be wrong here?

[2017-04-04 14:26] shadow-1 commented on #2
@xmflsct
The big issue with getting proxychains working on HiSilicon based chips is that you need to upgrade uClibc library on the camera. Doing that on a running system is...well complicated. Hence I created a custom firmware image that upgrades uClibc and busybox on the rootfs partition.

However it should compile properly and run without errors (even without upgrading uClibc). However it will o

[2017-04-04 14:36] xmflsct commented on #2
@shadow-1 Hmm.. That's pretty annoying though. I was assuming those uClibc were the same, as they appeared to have same version number.. That probably explains why some program I tried also broke with illegal instruction.

Thanks again! With my building embedded system knowledge, I will see what I can try next. And hope @andy2301 might come up with something.

[2017-04-04 18:10] andy2301 commented on #2
@shadow-1 thanks for the additional info! Can you confirm if the arm-hisiv300-linux compiled binary would work on this 1080p v1 camera? I'm downloading the SDK.

I confirm that arm-hisiv200-linux compiled binary does NOT run, not even the simplest hello world program. As I said before, arm-hisiv100nptl-linux compiled binary runs very well on both the 720p v1 and the 1080p v1 cameras.

[2017-04-04 18:13] andy2301 commented on #2
@shadow-1 also, proxychain is an excellent idea! I'd love to try it out to get rid of the region ban. Currently I'm using a split brain VPN tunnel in DD-WRT router to work around the region ban.

I tried to play around with shadowsocks + torsocks but apparently LD_PRELOAD doesn't work on this camera (torsocks uses LD_PRELOAD). I was able to cross compile shadowsocks with arm-hisiv100nptl-linux, it

[2017-04-04 18:23] andy2301 opened #5 "lost telnet & ftp upon upgrade to 2.1.0.0A_201703071456 firmware"
My 1080p v1 comes with firmware 2.0 (2.0.0.1A_201612051401). I was able to apply this hack to get telnet and ftp. Thanks to @xmflsct!

However, yesterday I upgraded (through the YiHome app) to the latest 2.1 (2.1.0.0A_201703071456) firmware, and the hack doesn't work any more. Yes i tried to reapply the hack from scratch. I lost telnet & ftp.

Also tried to store the firmware using the home_y20m d

[2017-04-04 18:41] xmflsct commented on #2
@andy2301 arm-hisiv300-linux should work, as the comprehensive documentation suggests. Though I cannot get it working myself, either `segmentation fault` or `line 1: syntax error: unexpected word (expecting ")")`.

As I described above, our system cannot handle proxychains natively, thus I have tried the [methods](http://diy.2pmc.net/solved-xiaomi-xiao-yi-ant-home-camera-can-used-china/) suggested

[2017-04-04 18:42] xmflsct commented on #5
I did not even dare to upgrade myself. :D So I have no idea what has been changed in the newer upgrade.

But feel free to use [my copy](https://github.com/xmflsct/yi-hack-1080p/issues/2#issuecomment-291467480), or other copies provided in that thread.

[2017-04-04 18:53] andy2301 commented on #2
@xmflsct Thanks for confirming that arm-hisiv300-linux works.

Yes the check_did hack does work to get rid of the region ban, however, it also prevents the YiHome app from connecting/viewing the 1080p v1 camera remotely. Note that the same check_did hack works with the 720p v1 cameras (with YiHome app works flawlessly). The difference lies in an upgraded p2p_tnp in 1080p v1.

I compared the p2p_tn

[2017-04-04 18:56] andy2301 commented on #5
@xmflsct I tried to restore your copy through the "manual firmware upgrade" approach, but it didn't do anything. I'm still with the upgraded 2.1 version. Do you know another way to apply/use your copy?

My guess is that the new firmware gets rid of the factory_test.sh hole in its init.sh file. I tried to look into the firmware through binwalk but it appears the firmware is encrypted (binwalk retur

[2017-04-04 19:14] shadow-1 commented on #5
@andy2301
Yes you are absolutely correct. I have confirmed with the Yi Dome cameras that firmware upgrades remove /home/app/script/factory_test.sh (which in turn calls the script from microSD card). Hence why my own custom firmware goes in a different direction.

I can create a version of my custom firmware for this camera. However I can't test it as I don't have this camera. You MUST have access

[2017-04-04 19:31] shadow-1 commented on #2
@xmflsct
The version number for uClibc doesn't change as the official library hasn't been updated for a very long time. In addition, I wanted to make the absolute minimum of change to the library as the library affects everything running on the camera all the way from the kernel to every application running on the camera.

Something doesn't seem right with your build environment. I can only guess

[2017-04-04 19:43] andy2301 commented on #2
@shadow-1 Awesome! Thanks for sharing the SDK and confirm my theory! I thought I'm going to wait for another day before the SDK download is complete but now I'm already done.

Need to get my serial port connected tonight before I can do anything though. Thanks again!

[2017-04-04 19:44] andy2301 commented on #5
Great explanation of the firmware! @shadow-1
I'll get a serial port later tonight for troubleshooting.

[2017-04-04 19:52] shadow-1 commented on #2
Just for your benefit and for everyone elses. The latest SDK I have to download is Hi3518E_V200R001C01SPC030. The free Box account has a file size limit of 250mb per file, so I had to split the SDK into 6 pieces. You need to download all 6 files starting with Hi3518E_V200R001C01SPC030 to be able to extract the ZIP archive.

I didn't want to delete the other SDKs as they take soooo long to download

[2017-04-04 19:53] maysamsh commented on #2
@andy2301 Could you manage to create an image of your camera?

[2017-04-04 20:18] andy2301 commented on #2
@shadow-1 thanks! Yes, I downloaded all the zip splits of Hi3518E_V200R001C01SPC030 and extracted.

@maysamsh Unfortunately I lost my telnet access to my camera, after I upgraded to 2.1.0.0A_201703071456.
1) If you just want your camera back without any hack, you should try to manually upgrade to the version 2.1 (2.1.0.0A_201703071456), as I mentioned in previous post.
I also tried the image/dump

[2017-04-04 20:31] maysamsh commented on #2
@andy2301 Seems the default framework does not work, nothing happens when I boot the cam with the SD which contains the firmware. I have tried all possible names, "home", "home_y20", "home_y20m" and none of them worked.

[2017-04-04 20:35] andy2301 commented on #2
@maysamsh I upgraded through the YiHome app, it will be a big thing if the default "manual upgrade" approach doesn't work any more. It could be but I have no way to confirm as I don't have another (different) official firmware to try it on.

I'd suggest you get a serial port cable and try to troubleshoot the problem in your current firmware (without upgrade or restore at all). Just see what's goin

[2017-04-04 20:37] maysamsh commented on #2
@andy2301 I'll do it tomorrow  [hopefully]

[2017-04-04 21:00] xmflsct commented on #5
Hello again guys. I tried to reflash my home partition with @shadow-1's copy and my copy, both doesn't work somehow. I remember I used it when I restored my camera last time when I bricked it.. Now I have detached the serial connection just today... Tomorrow I will attach them again and see what happened, and try to produce a new flashable image.

[2017-04-04 21:07] xmflsct commented on #5
Oops, my copy is actually working again somehow. @andy2301 Do you still have it, and would you like to try again?
My yellow flashes slowly when flashing, in between it flashes very quick for a second then comes back. After flashing is done, I have access to my cam again luckily.

[2017-04-04 21:11] andy2301 commented on #5
How did you flash it?

When I tried it this morning, I did the following:
I downloaded the zip file you posted, extracted to the root of sd card, rename it to "home". But it did't do anything for me. Upon reboot, it's still my upgraded 2.1 version.

[2017-04-04 21:18] shadow-1 commented on #5
@andy2301
Do not rename the file. It needs to be named home_y20.
In addition, make sure your microSD card is FAT32 formatted. By default high capacity SD cards (over 32gb) are formatted using exFAT.

[2017-04-04 21:21] xmflsct commented on #5
@andy2301 Aha, that's why. Because both @shadow-1's and mine copy are for uboot to use, which means that it differs from the official way of updating it. So as said, you should keep it as home_y20.

Very interesting thing is that. With just @shadow-1's copy, it does not work (I have no serial output to examine the problem now). After using @shadow-1's copy, I use mine again which gives a bit diffe

[2017-04-04 21:25] shadow-1 commented on #5
@xmflsct
U-Boot does a check to see whether the recovery image matches what is currently on the system. If it thinks they are the same, the firmware upgrade is skipped. Considering it is U-Boot that is doing the check, I believe the check must be quite primitive.

From experimentation (I have flashed my camera probably over 50 times debricking and getting the region ban workaround working), it app

[2017-04-04 21:32] xmflsct commented on #5
@shadow-1
Good one! I need more debricking to catch up with your experience. :D

So I assume U-Boot thinks your image should be flashed, though it (might?) contain some error. After then I use my long-ago image, U-Boot now believes my image should be flashed.
Anyway, my long-ago image was simply wrapped the dd output with an uImage header, not as smart as your solution yet. I still need to figure

[2017-04-04 21:43] shadow-1 commented on #5
@xmflsct
My image is unlikely to contain an error (although it might). I created a fresh jffs2 filesystem with the files from your long-ago backup. You are restoring the entire partition including the free space whilst my one skips the free space. Hence my image is smaller and a little quicker to flash. The end result is exactly the same as we are restoring exactly the same files. The only differe

[2017-04-04 21:51] xmflsct commented on #5
@shadow-1 Yes, I fully understand this part. :) Will first follow your approach and update this project, then see how far I can go with RTSP support as this is the function that I need - I don't care if I can use it with app or not. I have another 720p one working right now as a security cam, and would like to have another one. :)

[2017-04-04 22:01] shadow-1 commented on #5
Tomorrow I can send you an experimental version of my v3 firmware for this camera with working workaround for the region ban. However it will involve flashing the rootfs partition. As mentioned in the other thread, you have to upgrade uClibc which is almost impossible to upgrade on a running system on these cameras. Even if it were possible, it is highly risky and it is likely to brick. Using the

[2017-04-04 22:11] xmflsct commented on #5
Thank you so much in advance! I will have a try of your ones and let you know if it is working.

Saying that, I have a [040 version](https://www.dropbox.com/s/xjzlvytuot8asvz/Hi3518E-V200R001C01SPC040.rar?dl=0) of SDK. I think they should have 050 by now. I will share it if I can find it and download it from somewhere.

[2017-04-04 22:20] shadow-1 commented on #5
Thanks for the updated SDK. I knew the 040 version has been released, however I didn't find a download link for it yet. When I got the 030 version, I don't think the 040 version was released (perhaps it was very new). I haven't heard anything about a 050 version yet.

With a little luck HiSilicon may have provided an example RTSP server with the SDK. Unlikely...but we can always be hopeful.

[2017-04-04 23:08] xmflsct commented on #5
You are welcome. :) Not sure what had been updated though. Hope it would be a bit useful to you. 050 is not released yet, at least not on the forum where I downloaded 040. While browsing, I found a post with an updated sample code that claims to support RTSP for Hi3518EV200. I will have a try tomorrow, see if I can compile it correctly. Otherwise I might need your help again. :)

[2017-04-05 01:30] andy2301 commented on #5
@xmflsct Using your copy of home_y20, I've got my camera back to version 2.0.0.1A_201612051401. That's awesome!

Just extract it under the root directory of sd card and reboot. Make sure the name is "home_y20".

[2017-04-05 04:54] andy2301 commented on #2
@shadow-1 I compiled successfully the uClibc 0.9.33.2 using hisiv300 compiler, with [source code](https://www.uclibc.org/) and the uClibc ".config" file from your yi-hack-v3 repository.

But I found it's the same version as used in /lib/*uClibc*. So I'd like to confirm a few things with you:
1) Does this compiled version offer LD_PRELOAD over the one that comes with the firmware? I see the proxych

[2017-04-05 09:23] xmflsct commented on #5
@andy2301 Glad that it works!

Do you happen to have serial connection as well? If so, can you try to change the boot delay and see if you enter U-Boot [fritz-smh#141 (comment)](https://github.com/fritz-smh/yi-hack/issues/141#issuecomment-283756414) My camera doesn't respond to any key press signal, so I was wondering whether they tweak the hardware or just a faulty part in my camera.

If you succ

[2017-04-05 09:52] shadow-1 commented on #2
@andy2301
I deliberately compile the same version of uClibc (however with additional features enabled).
To answer your queries:
1. The compiled version of uClibc includes LD_PRELOAD support.
2. Just as you managed to fix your home partition by copying a file onto the microsd card and booting the camera. You can upgrade and restore the rootfs using exactly the same method. So it is safe to flash th

[2017-04-05 10:00] shadow-1 commented on #5
@xmflsct
No need to tweak the U-Boot environment as you know how to flash rootfs and home partitions now. It should be a simple change on the env partition to get the countdown working if you really want to.

There is no need to upgrade the firmware to the newest version and dump the entire filesystem. I have provided instructions on how to extract the firmware and the upgrade is simply a replacem

[2017-04-05 10:06] xmflsct commented on #5
@shadow-1
That's true. Then I will wait for your updated release, and combine it into this 1080p camera. :)

[2017-04-05 13:20] shadow-1 commented on #5
@xmflsct
I got around to creating a test firmware for the Yi 1080 Home. The links are below:
[rootfs_y20](https://www.dropbox.com/s/si56hg7jx32byvz/rootfs_y20?dl=0)
[home_y20](https://www.dropbox.com/s/ms4rwovxeann00d/home_y20?dl=0)

Creating the home partition took longer than what I thought it would. I need to create some more build scripts to make it fully automated.

To make the upgrade more c

[2017-04-05 13:33] xmflsct commented on #5
@shadow-1
Thank you so much! I will try it just now and let you know how it goes.

By the way, the code I mentioned yesterday, I tried to compile it again, and still get the annoying `line 1: syntax error: unexpected word (expecting ")")`. All posts on the internet suggest that I might output an object file, but it is actually not - I test it with `file` which shows it as an executable. I suspect

[2017-04-05 13:43] maysamsh commented on #5
@shadow-1 I tried the rootfs, it revived the cam! When I tried to pair it with the phone it told me "This camera can only used within China", then I tried the other fine, home_y20, but unfortunately it didn't work and it's once again the status is still yellow.

[2017-04-05 13:53] shadow-1 commented on #5
@maysamsh
Congratulations, it looks like your problem was with the rootfs partition afterall and it has now been restored.

This is completely experimental firmware and I have done quite a lot of changes to the home partition. I may have made a mistake with it because of all the changes I made without testing. You can restore the original home partition. You can use @xmflsct copy or my one and you

[2017-04-05 14:00] xmflsct commented on #5
@maysamsh Yes, with my own copy of home_y20, I get my cam back and I can use it as before.

@shadow-1 Same happened to me. Flashing rootfs is fine, but bricked after home_y20. Still, I cannot run the proxychains4 from your home_h20 extract. I copy both the executable and the .so to exact the same location on my cam, I get `Illegal instruction`. The `ld-uClibc-0.9.33.2.so` in my /lib seems to be up

[2017-04-05 14:01] maysamsh commented on #5
@shadow-1 Unfortunately it does not work anymore, even I have tried restoring images you already provided. What was the magic?!

[2017-04-05 14:06] shadow-1 commented on #5
@xmflsct
Ah ok...looks like I tried to do too much at once.

I manually updated the firmware to 2.1.0.0A_201703071456.
I must have messed it up (I did it quite quickly), I'll redo to firmware upgrade with 2.0.0.1A_201612051401 firmware which we know works properly.

Yes I updated ld-uClibc-0.9.33.2.so already from a previous compile. You will also notice that Busybox on rootfs has also updated to

[2017-04-05 14:19] shadow-1 commented on #5
@xmflsct
I am very confused why you get Illegal instruction error with those programs.
Can you provide me with the output of:
`cat /proc/cpuinfo`

[2017-04-05 14:30] maysamsh commented on #5
@shadow-1 How could you manage to update to 2.1.0.0A_201703071456? When I put it into the SD and then to the camera, it does nothing.

[2017-04-05 14:45] xmflsct commented on #5
@shadow-1 Yes, the rootfs is successfully updated, and I will just leave it there. I quickly examine the test home_y20 you provided. It seems like the /lib inside is left empty? For the rest files, I don't see why the booting stucks. If you think serial output would help, I can solder again.

`cat /proc/cpuinfo` writes:
[code]
I am also very confused of either illegal instruction or line 1 error..

[2017-04-05 14:51] shadow-1 commented on #5
@xmflsct
In the rush of creating this firmware...i copied the files from your original firmware file incorrectly and I missed many files. It had no hope of working as the lib folder was empty. For some reason your home partition backup has a program called tempbox and a file named index.html.

Did this come with the official firmware, or is it something you were trying out on the camera before you

[2017-04-05 15:00] shadow-1 commented on #5
@maysamsh
I believe you will need to use @xmflsct backup of the home partition for your camera to get back operational. Hopefully you didn't go messing around with various backups of rootfs partition.

[2017-04-05 15:02] xmflsct commented on #5
@shadow-1
That tempbox was my very early trail of busybox, that is a pre-compiled one, and I just rename it into that... You can delete that tempbox for sure. And the index.html was there in the original firmware, and I had absolutely no idea why it would be useful at all.

So... Here comes the trick... I didn't use any rsync or similar program to upload binary files. And my FTP program somehow di

[2017-04-05 15:09] maysamsh commented on #5
@shadow-1 seems it's screwed up. I'm going to get the serial connection!

[2017-04-05 15:11] xmflsct commented on #5
@maysamsh That's a good attitude. :) I can feel that with @shadow-1's very generous help, we are almost there!

[2017-04-05 15:13] shadow-1 commented on #5
@xmflsct
Try this home partition:
[home_y20](https://www.dropbox.com/s/ms4rwovxeann00d/home_y20?dl=0)

I still manually upgraded the firmware to 2.1.0.0A_201703071456.
Hopefully now I didn't miss copying whole folders!

[2017-04-05 15:25] xmflsct commented on #5
@shadow-1 It works!

[2017-04-05 15:31] shadow-1 commented on #5
@xmflsct
Fantastic news!
I find the web interface quite handy.

Once you enter some valid proxy servers from Mainland China into the ProxyChains configuration on the web interface, the camera will work with the smartphone app.

[2017-04-05 16:13] maysamsh commented on #5
@shadow-1 It works! but still I have the region ban issue, i guess, after trying to pair the status LED becomes still blue.

[2017-04-05 16:19] xmflsct commented on #5
@shadow-1 @maysamsh Yes, I have the same region ban issue as well. I have tried several proxies, and none works. Those proxies are confirmed working on computer.

Strange thing is, if I use `proxychains4 ping google.com` or `proxychains4 ping facebook.com`, it should not get through.. But both I get good pings. How can I confirm proxychains4 is working correctly?

[2017-04-05 16:29] andy2301 commented on #5
Excellent! It looks you guys are making great progress.

@xmflsct Try the following. It'll show your WAN ip without and with proxy.

wget http://ipinfo.io/ip -O -
./proxychains4 -f ./proxychains.conf wget http://ipinfo.io/ip -O -

[2017-04-05 19:22] xmflsct commented on #5
@andy2301 Thanks! Found some free socks proxies online, wget works fine, but still I cannot connect to my cam using app. Anyway, I need to figure out RTSP first as that's what I really need.

[2017-04-05 19:34] andy2301 commented on #5
@xmflsct The proxychains-ng approach works with the region ban.

1. make sure proxychains4 and libproxychains4.so are under /home/app
2. make sure /etc/proxychains.conf has the correct proxy configuration. Remember to test your proxy settings elsewhere and make sure it works.
3. run the following (or make sure it's like this)
    mv /home/app/cloudAPI /home/app/cloudAPI_real
    echo "/home/app/pr

[2017-04-05 19:36] andy2301 commented on #2
@shadow-1 thanks a lot! I was able to upgrade the uClibc library and get LD_PRELOAD working. In fact, it works even without a reboot (of course it sustains after reboots). I simply replaced the current /lib/ld-uClibc*.so with the newly cross-compiled ld-uClibc one. BOOM! LD_PRELOAD works, proxychains-ng works, torsocks works too!

[2017-04-05 19:44] andy2301 commented on #2
I gave this a try but no dice.
https://github.com/haoweilo/RTSP_stream_server

I was able to cross-compile the live555 media server, but not the RTSP_stream_server. The latter requires alsa sound library support but our sdk doesn't have it. live555 media server runs on the camera, but it segment-faulted while streaming a m4e/mp4 video file.

We're back to square one. I noticed that the original rt

[2017-04-05 19:49] andy2301 commented on #5
@xmflsct to reply to you earlier question in [your post](https://github.com/xmflsct/yi-hack-1080p/issues/5#issuecomment-291804451) , I didn't use my serial port cable, since I got telnet access after restoring your home_y20 image successfully.

[2017-04-05 19:55] xmflsct commented on #5
@andy2301 No worries at all! I am still trying to find a working proxy to test everything. Some proxies work on PC, but get a deny when I use it with proxychains4.

Besides, would you like to take a look at [hp-ipc](https://github.com/xmflsct/yi-hack-1080p/files/896370/hp-ipc_rtsp.zip) as well?

[2017-04-05 20:01] andy2301 commented on #5
@xmflsct also, i just tried your hp-ipc_rtsp.zip. It compiled and it ran but caused the camera to reboot in the end.

[code]

[2017-04-05 20:09] xmflsct commented on #5
@andy2301 It seems like you haven't update the `SENSOR_TYPE` in the `Makefile.param` in the sample folder. I read somewhere that this cam has OV9712 sensor, but somehow the SDK shows that it is a 720p sensor.. After I change the `SENSOR_TYPE` and run hp_ipc, I got:
[code]
It seems we might need to modify a bit more stuff. [Source code origin](http://www.ebaina.com/bbs/forum.php?mod=viewthread&tid=

[2017-04-05 21:09] xmflsct commented on #5
@andy2301 In the 040 SDK I shared, I found a very useful tool `PQTool` which might help us break through setting up hp_ipc. I can run the tool between my cam and PC, and grab still RAW images. The .ini file contains tons of useful info for setting up hp_ipc. But I am unfamiliar with C so I can be slow...

[2017-04-05 22:08] shadow-1 commented on #5
@xmflsct @andy2301
The firmware I posted has incorporated all the necessary changes. `cloudAPI `application is moved to a different name, a script replaces `cloudAPI`, `proxychains.conf` is in the correct location `/home/app`, `proxychains4` is in the correct location `/home/app/localbin`, `libproxychains4.so` is in the correct location `/home/app/locallib`.

The whole trick is to find a reliable

[2017-04-05 22:19] xmflsct commented on #5
@shadow-1 Thank you for the update! Indeed all your files are in the correct place. The trick is to find a socks server that support HTTPS.. This is where I failed most probably. I will keep looking.

[2017-04-05 23:27] andy2301 commented on #5
Sounds like good progress. Maybe 1919 is expected because the pixel sequence starts from 0 and extends to 1919 (1920 pixels in total). I'll take a look later tonight.

[2017-04-05 23:35] xmflsct commented on #2
@andy2301 And all three versions of rtspsvr in this project are based on the one from MP77V. They can run on 1080p, but does not open up port in the new version of the system. And I try to find back any source code, but sadly all links posted by MP77V on 4pda.ru returned 404. This path seems to be a dead end. The hp_ipc I provided in my project seems to start from too low level that is very diffic

[2017-04-05 23:41] xmflsct commented on #5
My last update today.
After fixing the pixels manually to 1280 x 720 in the source file, the program then runs but with following error.
[code]
This might trigger camera reboot, so before running it, you can try to kill those default apps initiated by the system, especially watchdog.

[2017-04-06 07:36] andy2301 commented on #5
@xmflsct I got the same error with hp_ipc but no further progress. Google search of this "venc stream time out" error shows that many people had something working but when they changed the sensor_type on a different board they would face the same error "get venc stream time out, exit thread".  So I guess we need to do the following:

1. Figure out what is the correct CHIP_ID and the SENSOR_TYPE to

[2017-04-06 09:49] xmflsct commented on #5
@shadow-1 I can confirm that, with a working socks5 proxy with SSL support, I can pair and connect to my cam, with great streaming speed. :)

[2017-04-06 10:16] maysamsh commented on #5
@xmflsct @shadow-1 Could you manage to hack it to bypass region ban? Something other than using a proxy.

[2017-04-06 10:37] shadow-1 commented on #5
@xmflsct Socks4 proxies with SSL support work perfectly as well. Haven't tested it with a HTTP proxy.

@maysamsh Sorry, did not find other methods to defeat region ban yet. Your camera must authenticate to the Xiaomi server. Xiaomi server makes the decision whether to region ban you, not the camera itself. If you skip the authentication, the camera will not work with the smart phone app.

[2017-04-06 10:41] maysamsh commented on #5
@shadow-1 So basically it's useless without using a proxy 😞

[2017-04-06 10:43] xmflsct commented on #5
@maysamsh That's why I am trying to figure out RTSP possibility.

[2017-04-06 10:48] shadow-1 commented on #5
RTSP is probably the best long term solution. However the Xiaomi smart phone app is very intuitive and works very well. Especially for those without a device that can act as a DVR server.

[2017-04-06 12:28] xmflsct commented on #5
@andy2301 After playing around, I am still unsure whether the image sensor is really OV9712 or OV9732 or even others. The reasons are:
1. In `load3518e`, the sensor type is actually hardcoded.
2. When I started `HiIspTool.sh`, whether I use config of OV9712 or OV9732, I still can capture raw image in 1080p without problem. So I have no idea what is the trick with my knowledge.
3. When I rebuild OV

[2017-04-06 13:53] shadow-1 commented on #5
I can confirm that the processor is Hi3518ev200.
To verify, run the following command: `cat /proc/cpuinfo`

The bootup messages on my camera whilst the kernel is loading shows the following line:
`==== Your input Sensor type is ov9712 ====`

So I believe the correct sensor is ov9712.
You don't get to see the bootup messages when you login through telnet.

[2017-04-06 14:30] xmflsct commented on #5
Yes, processor model is very certain. But the image sensor model is not.
If you take a look at `/home/hisiko/load3518e`, line 16 or nearby, the sensor type is hardcoded. And the `==== Your input Sensor type is ov9712 ====` just reflects this 'variable'.
The corresponding `load3518` file in my 720p version also has ov9712 hardcoded. That's why I have doubt in either the hardware or the software.

[2017-04-06 20:24] xmflsct commented on #5
By deleting image sensor libraries in `/home/app/locallib/`, it is verified that none of the OV libraries is the correct one. Only `libsns_f22.so` will turn the cam into continuous reboot - after WiFi is set up, and when those customized software start to run which gives me few seconds to squeeze back `libsns_f22.so` and I don't need to reflash the home partition. :)

A quick look at this binary,

[2017-04-06 20:30] andy2301 commented on #5
Excellent! So we should copy the f22 lib for cross-compiling and see if that makes a difference. I will also take a look tonight.

[2017-04-06 20:34] andy2301 commented on #5
Yesterday I also found that the "strings rmm" output has "DEV_ATTR_F22_DC_1080P_BASE", which seems to indicate the sensor type.

[2017-04-06 20:37] andy2301 commented on #5
N

[2017-04-06 20:39] xmflsct commented on #5
With our two sources of info, I think it is certain that the image sensor is F22. I will now copy over that library, and see what compiles out.

[2017-04-06 20:49] xmflsct commented on #5
The `I2C_WRITE error!`is gone! But somehow `sample_venc` always try to access frame rate of 30, but the sensor is not supported. I will see how I can reduce that. Also, every time when I run the program, the camera will reboot in some seconds. Don't know if it is done by the watchdog.

[2017-04-06 20:57] andy2301 commented on #5
Kill the watch process and it won't reboot.

[2017-04-06 21:12] shadow-1 commented on #5
You need to determine whether the actual watchdog on the board is rebooting the camera or the Xiaomi programs. I assume this implementation of RTSP is interfering with the Xiaomi applications which are already running. You can stop the Xiaomi applications from restarting or rebooting the camera automatically by killing the Xiaomi watch process:
`killall watch_process`

When you kill this, if there

[2017-04-06 21:17] xmflsct commented on #5
It is Xiaomi's watchdog reboots the camera. My assumption is that, due to this implementation of RTSP (or currently the `sample_venc`) tries to initiate the sensor as if it were not there. This would break Xiaomi's applications which triggers Xiaomi's watchdog. I have killed all their program, and now it is not rebooting anymore. I still need to figure out if it is okay to re-initiate image sensor

[2017-04-06 21:44] xmflsct commented on #5
Somehow in `hp_ipc.c`, the default frame rate is 25, and the sensor still complaints that it is not supported. After I reduce it to 15, the complaint is gone!

Now it seems that sensor is successfully initiated, at least no other complaints, and `cat /proc/umap/vi` looks fine. Now back to the original problem that I need to search for...
[code]

[2017-04-06 22:10] andy2301 commented on #5
Compiled with libsns_f22.so, sample_venc works! I got a static image snap, and got the stream_chn0 file populated locally.

[code]

We definitely made progress with hp_ipc. As you can see, not only the I2C_WRITE error is gone, but also we get messages of accepting RTSP connection. The problem is that, although hp_ipc shows it's working, my VLC client had no video showing up (it's not disconnecting

[2017-04-06 22:33] xmflsct commented on #5
@andy2301 Wonderful! You have reached further! Somehow my sample_venc is still complaining about wrong FPS. Could be that I have messed too much these days in SDK. I will get a clean one and try again.

The problem with hp_ipc is that, as we read yesterday, there are quite some setting of setting `vi` that has to be correct. But if I can also get sample_venc running, I might be able to grab some i

[2017-04-06 22:46] andy2301 commented on #5
FYI. The following is the changes I made to Makefile.param, before compiling sample_venc and hp_ipc.
[code]

Yes I verified that cat /proc/umap/vi is correct with hp_ipc. vpss is correct too. I suspect the venc part of the code in hp_ipc is broken. Remember that sample_venc used to throw the same error "get venc stream time out, exit thread" but with the f22 lib it's gone.

I looked at the differe

[2017-04-06 23:06] xmflsct commented on #5
Thank you! Yes, that's what I modified as well, with a clean SDK 040 unpack, but still no luck. It is either complaint not supported frame rate of 25 or 30. This complaint comes from libsns_f22.so.
[code]

Will leave it for now and go to sleep. Hope for your good news tomorrow. :) I will finish reading rest of the posts and see what I can learn from them.

[2017-04-06 23:26] xmflsct commented on #5
FYI, I accidently found out that, one and a half hours ago, I did capture an image succesfully as `.mjp`, probably with `./sample_venc 4`. It means that the program used to run once somehow... Anyway...

[2017-04-08 01:03] xmflsct commented on #5
@andy2301 Play around a bit more today, but getting no where. I tried to match those two functions as you suggested, they are indeed almost the same, but still get the same error. Then I look at my vi, vpss and venc. For my `cat /proc/umap/vi`, I still see `VI-VPSS is offline`. So obviously there is nothing in my vpss. In my venc, I can see at least an attempt to create one channel but failed. Wit

[2017-04-08 02:20] shadow-1 commented on #5
@xmflsct
I know what `/tmp/view' is. It is a h264 video buffer. Half the file is dedicated for the HD stream whilst the other half is dedicated for the SD stream. My original idea to get RTSP working on the camera was to stream directly from `/tmp/view`. That way, we can have the camera operational from both the smartphone app and from RTSP at the same time without putting much additional load on

[2017-04-08 09:46] andy2301 commented on #5
@xmflsct Guess what, I have a working rtsp server! After quite a lot of debugging, I finally make it work, but with a couple of caveats.

1. it only streams 720P, not 1080P. Tried to make 1080P work but encountered too many errors.
2. it doesn't run at the same time with rmm. Running rtsp2301 will make rmm quit, and your camera will reboot. So remember to kill the watch_process before running rtsp

[2017-04-08 10:55] xmflsct commented on #5
@andy2301 Wonderful news! At least you are reaching somewhere!
Sadly it won't run on my cam, with the exact same error that stopped me from progressing. It is still barking not support fps. Even I flash back the firmware provided by @shadow-1, still the same issue.
[code]

[2017-04-08 11:42] xmflsct commented on #5
Interestingly, when I run your program after I flash back to the old (before updated) rootfs and home, the program won't bark about wrong fps anymore! And RTSP stream works great, with some delay but acceptable! After then, I flash to @shadow-1's rootfs, still runs fine. Lastly, I flash to @shadow-1's home, the program barks again. Did you happen to modify any other file/library by any chance?

I

[2017-04-08 12:53] shadow-1 commented on #5
@xmflsct
I believe @andy2301 is not using my home partition and is using the original 2.0.0.1A_201612051401 firmware.

The home partition I made is based on version 2.1.0.0A_201703071456 of the firmware. The update to 2.1.0.0A_201703071456 replaced files in  `/home/app` and `/home/hisiko`.

[2017-04-08 12:56] xmflsct commented on #5
@shadow-1 That would probably be the case. Don't know what has changed inside `libsns_f22.so` and other files...

[2017-04-08 13:08] shadow-1 commented on #5
@xmflsct I'm not sure what has changed in the update files. I noticed libsns library is provided in the SDK for various sensors. However not libsns_f22.so.

[2017-04-08 17:15] shadow-1 commented on #5
@andy2301
I somehow missed your question.

Yes it is possible to stream from `/tmp/view`. I have managed to stream it as a file so far but not as a continuous stream using live555 library. I'm not sure whether live555 library is the best option in this case but I gave it a go as it was the only free RTSP server I knew about at the time.

`/tmp/view` is a h264 video file. I do not know the structur

[2017-04-08 19:57] andy2301 commented on #5
@xmflsct so, based on your experiments, this won't work if we upgrade to the 2.1.0.0A firmware?

Anyway, I cleaned up the code a bit and attached here. Please check the README.txt file for instructions on compiling.
[rtsp2301_src.201704081250.zip](https://github.com/xmflsct/yi-hack-1080p/files/907771/rtsp2301_src.201704081250.zip)

Note that this is a different source package from the hp_ipc code.

[2017-04-08 20:59] andy2301 commented on #5
@shadow-1 the /tmp/view file doesn't seem to get updated (with a timestamp that's a couple of days old). VLC doesn't recognize the file as a video. Is this expected?

[2017-04-08 22:09] xmflsct commented on #5
@andy2301 No, nor sample_venc or your RTSP implementation would work with 'new' firmware. Currently I am on the 'old' firmware and will track down which library/module that causes the problem. After then, I will move to 'new' firmware and try to compile again. I remember I was indeed using new libsns_f22.so for compiling. But I will try again to make sure. It is not only libsns_f22.so that causes

[2017-04-08 22:32] xmflsct commented on #5
Some updates.
1. Replacing libsns_f22.so will solve the problem of not supported fps.
2. Replacing hi3518e_isp.ko will solve the problem of config ISP register fail.
3. Replacing hi3518e_venc.ko is intended to solve the problem of HI_MPI_VENC_GetChnAttr gets stream fail. However, it seems that Linux hangs with kernel panic very soon after system starts booting. There is no auto-rebooting, and the

[2017-04-08 22:51] xmflsct commented on #5
After several tries, my cam refuses to flash any (old or new) home firmware, but only rootfs.. No serial output to examine why. Finally, I try to place both old version of rootfs and home image on SD card and it works now.. Just that if you get stuck, this might help..

[2017-04-09 00:33] shadow-1 commented on #5
@andy2301
I never checked the timestamp of the file. However whenever I used `vi` or `cat` on the file, it is clear that it is continuously updating. Perhaps the timestamp isn't being updated as the file is always open by `rmm` and never gets closed?

@xmflsct
I did not use live555MediaServer on the camera. I compiled the live555 test programs and used them to test streaming `/tmp/view`. I used `t

[2017-04-09 00:55] shadow-1 commented on #5
Actually I remember reading some time ago that multicast protocol is enabled in the kernel by default for quite a long time now. So it may not be an issue with the kernel. Perhaps it is an issue with the wifi chipset included with the camera or the driver used?

Either way, I could not get multicast to work at all no matter what I did and had to resort to RTSP streaming over unicast. However I cou

[2017-04-09 00:58] xmflsct commented on #5
@shadow-1
Thank you so much! Yes, I can confirm that with `testOnDemandRTSPServer` I can indeed stream a copy of `/tmp/view`, and the file does get updated.

While running `rmm` manually, the program depends on `dispatch` to run before it does. And `dispatch` creates that `mmap.info` file, and `view` file is generated by `rmm`.
A side note. When I was working so hard to figure out the image sensor

[2017-04-09 01:52] andy2301 commented on #5
Is it possible that the watch_process kills the rtsp2301 or simply rebooted?

Can you share the code that you use to steam /tmp/view? I'd like to save some time figuring that out.

[2017-04-09 01:56] andy2301 commented on #5
For the error "HI_MPI_VENC_GetChnAttr chn[0] failed with 0xffffffff", can you check the output of /dev/logmpp? Usually that log file has more info.

[2017-04-09 02:51] shadow-1 commented on #5
@andy2301
Just need to download the live555 library and build the live555 test programs.
Source is available here: http://www.live555.com/liveMedia/public/

I modify `testOnDemandRTSPServer.cpp` and changed `Boolean reuseFirstSource = False;` to `Boolean reuseFirstSource = True;` in an attempt to get it streaming from the file continuously as per recommendation by the authors.

You can either chan

[2017-04-09 14:39] lambokini commented on #3
@shadow-1 @xmflsct sorry guys. last week I was a bit busy. so I didn't play with my xiaoyi1080p camera. I followed @shadow-1 comment and copied rootfs_y20 and home_y20 to sd card. it worked!!! but I forgot to save my ttl output.
sorry for this. I should save my ttl output so that you guys took it as references.
then later I used some other system firmware backups. now my ttl output like this;
Syst

[2017-04-09 18:09] xmflsct commented on #5
@andy2301 I have playing for the whole afternoon, try to start `rtsp2301` from `factory_test.sh` but failed. I have no idea why. I use quite enough delay; change library path to fit with console one; etc. All I got is always:
[code]
But when I run it from telnet console, or even wrap it in a script and run the script in telnet console, it works fine. Very weird. For above, I am referring to your v

[2017-04-09 20:05] andy2301 commented on #5
Instead of using the factory_test.sh, did you try adding a simple file in  the /etc/init.d?

[2017-04-09 20:18] andy2301 commented on #5
The error in v1 seems to indicate that something was not initialized yet. Maybe not enough delay?

[2017-04-09 20:28] xmflsct commented on #5
I just try to add it into `/etc/init.d/rcS` as a test, but the program won't even run. My guess is that, it is too early in the boot process, while those 3518 kernel modules are only loaded in `init.sh`. I also try to run it in `init.sh`, but no use... Very weird... I tried with a 5 minutes delay still no luck. I also try to telnet in as soon as the service starts up, and manually run the program

[2017-04-09 20:43] andy2301 commented on #5
another possibility between terminal and system script is the env settings. would it help to copy the related env settings into the automation script?

[2017-04-09 20:45] xmflsct commented on #5
Yep, that's what I assumed as well. I notice there are some differences in both env settings. What I did was to specify library path and general path when I run `rtsp2301`, but that doesn't help. Are there more env settings that might be relevant?

[2017-04-09 20:48] andy2301 commented on #5
that's really weird. I can't think of other env setting but might worth a try to copy all env settings in script.

[2017-04-09 20:54] xmflsct commented on #5
I will try in a bit, and let you know. :)

[2017-04-09 21:35] xmflsct commented on #5
Changing all env settings won't help...

[2017-04-09 22:17] andy2301 commented on #5
ok. i think i see the problem now. It has some terminal interaction elements in the sample_venc part.

[2017-04-09 22:22] xmflsct commented on #5
Nice! I will be waiting to test your next release. :)

(UPDATE)
Found [a way](http://stackoverflow.com/questions/1401002/trick-an-application-into-thinking-its-stdin-is-interactive-not-a-pipe) to trick the program and it works well!

[2017-04-09 22:33] andy2301 commented on #5
Try this one. I simply made the following changes in main.c. The previous one didn't run when put in background, but this one does.
[rtsp2301_20170409.zip](https://github.com/xmflsct/yi-hack-1080p/files/908602/rtsp2301_20170409.zip)

[code]

[2017-04-09 22:42] xmflsct commented on #5
This one cannot run in background yet, as in `sample_venc.c` there are two more parts that require key press - to select mode, and the same ENTER exit part.

[2017-04-09 22:44] andy2301 commented on #5
I don't think that source code is ever used. It's there just for reference.

[2017-04-09 22:56] xmflsct commented on #5
You are right. I try to run it with `&` at the back, won't work. Put it into `factory_test.sh`, won't work neither.
But please don't be bothered by this minor issue yet. At least with [this trick](http://stackoverflow.com/questions/1401002/trick-an-application-into-thinking-its-stdin-is-interactive-not-a-pipe), it runs perfectly from script. I will push an update tomorrow with your program running

[2017-04-09 23:03] andy2301 commented on #5
Cool. I'm actually outside. Will try to check why it's not working in background tonight.

[2017-04-09 23:20] xmflsct commented on #3
@lambokini It is a very long thread... After reading through half, I can see that you revert back to previous version of system, with my hack on SD card. If you would like to stay on this version, tomorrow I will push an update with a working RTSP server developed by @andy2301, which for now serves 720p video stream and it is very stable! We are still trying to find a better way for streaming thro

[2017-04-10 09:04] andy2301 commented on #5
@xmflsct the new version of rts2301 runs in background and I can stream from VLC.
`/tmp/sd/tmp # ./rtsp2301 >& rtsp2301.txt &`

[code]

[2017-04-10 09:33] xmflsct commented on #5
@andy2301 I tried again, and it does run in background. Maybe I copy the wrong binary yesterday, late at night, I am so sorry.

[2017-04-10 09:38] maysamsh commented on #5
Do you have any estimate of release a working firmware?

[2017-04-10 09:47] xmflsct commented on #5
@maysamsh I am working on a final testing now to make sure everything is working. I should push an update in half an hour.

[2017-04-10 09:52] maysamsh commented on #5
@xmflsct I'm excited to test it.

[2017-04-10 11:46] xmflsct commented on #5
@maysamsh I just push an update. Please read carefully the readme document as there are some requirements before using this hack.

[2017-04-10 11:46] #4 closed

[2017-04-10 11:47] xmflsct commented on #1
@Orlandus I have just push an update. Now an RTSP stream of 720p is possible.

[2017-04-10 11:47] #1 closed

[2017-04-10 11:48] xmflsct commented on #2
@ilzc I just push an update for RTSP streaming of 720p, thanks to @andy2301's development!

[2017-04-10 11:48] #2 closed

[2017-04-10 11:49] #3 closed

[2017-04-10 11:49] maysamsh commented on #5
Okay. thanks.

[2017-04-10 12:10] maysamsh commented on #5
@xmflsct It does not accept root password. I have not changed it in the `yi-hack-1080p.cfg` file. The LED status is still blue.

[2017-04-10 12:19] xmflsct commented on #5
@maysamsh Can you create a new issue, and let's discuss there? I would like to dedicate this thread to only about further RTSP development with @andy2301.

[2017-04-10 12:20] maysamsh commented on #5
@xmflsct sure, the password was blank! now I have access to the terminal, but the official app does not work, and I don't have access to the RTSP stream.

[2017-04-10 12:29] xmflsct opened #6 "For people that were involved in previous development and discussion."
@maysamsh, if you get blue LED after booting and telnet password is blank, this means that you have flashed the firmware in [shadow-1/yi-hack-v3](https://github.com/shadow-1/yi-hack-v3). According to README, the upgraded version won't work with current RTSP implementation. You have to downgrade at least the home partition. Try this downgrade image [issues/#3 (comment)](https://github.com/xmflsct/y

[2017-04-10 12:41] maysamsh commented on #6
@xmflsct I downgraded the home partition and not all I've got is a still yellow LED, [almost] instantly after the plugging the cam. Current root_fs on the cam is newer or the same version.

[2017-04-10 12:45] xmflsct commented on #6
Newer rootfs should be fine.

During flashing process, the LED should flash yellow for around half a minute. If you insert the SD card with home_y20 in root and no yellow LED flashing, this means U-Boot does not accept this image file.

Try this one:
[home_y20.zip](https://github.com/xmflsct/yi-hack-1080p/files/910057/home_y20.zip)
Please download and test it soon. I will remove this link once you

[2017-04-10 12:49] maysamsh commented on #6
@xmflsct I've tried it. Flashed successfully but it's still yellow LED after plugging in the cam.

[2017-04-10 12:51] xmflsct commented on #6
Yellow is good. :) Now try telnet/FTP/RTSP and see if it works. If not, unplug the camera, insert SD card to computer and paste `/test/log.txt` here if there is any.

[2017-04-10 12:53] maysamsh commented on #6
@xmflsct It's still yellow. does not blink at all (only two short blinks on the plug).

[2017-04-10 12:54] xmflsct commented on #6
Have you tried to connect to it? Can you paste output of `/test/log.txt`?

[2017-04-10 12:56] maysamsh commented on #6
@xmflsct I could not find required tools to make a serial connection yet :(.

[2017-04-10 12:58] xmflsct commented on #6
No, I mean Telnet connect to it. And open `/test/log.txt` on SD card and paste the content here.

[2017-04-10 13:00] maysamsh commented on #6
Contents of log.txt on the SD card:

[code]

[2017-04-10 13:08] xmflsct commented on #6
That's all? Weird that the process stuck at DHCP, which never happened to me. Try to change `DHCP` to no and your static IP settings in `yi-hack-1080p.cfg` and see if it works. If it still does not work, please paste again the `/test/log.txt`.

[2017-04-10 13:17] maysamsh commented on #6
[code]

I'm afraid it does not run the script at all and the log is for previous firmware.

[2017-04-10 13:19] xmflsct commented on #6
Could be. You can try to delete it and see if a new one is created.

Attached is the 'older' rootfs, try to flash it before running this hack.
[rootfs_y20.zip](https://github.com/xmflsct/yi-hack-1080p/files/910139/rootfs_y20.zip)

[2017-04-10 13:27] xmflsct commented on #6
By the way, the second log paste seems to still go for DHCP approach which is strange, if you have updated the DHCP option to no in `/test/yi-hack-1080p.cfg`.

[2017-04-10 13:28] maysamsh commented on #6
@xmflsct after flashing the now I can telnet to the cam. It's status is still yellow LED.

[2017-04-10 13:30] xmflsct commented on #6
Great! Have you tried all services (Telnet, FTP and RTSP)? Let me know if all these work for you.

Status LED will stay yellow, unlike in 720p version, as they have changed the way to operate LED color and I haven't been able to figure that out yet.

[2017-04-10 13:39] maysamsh commented on #6
Yes it works, Telnet, FTP and RTSP. Now, won't work over the internet?

[2017-04-10 13:41] xmflsct commented on #6
Nice! What do you mean by _won't work over the internet_?

[2017-04-10 13:42] maysamsh commented on #6
Some functionality like the official app provides, accessing the stream over the internet.

[2017-04-10 13:46] xmflsct commented on #6
Well, you can, like with VLC to stream it anywhere. I can also add a switch between modes (RTSP only and official app only). But that is not on the priority list unless lots of people would like to have it. As I said in the readme, the goal is to develop an RTSP implementation that can work alongside with the official ones.

[2017-04-10 13:49] maysamsh commented on #6
@xmflsct Thanks. So, I cannot use the official app right now, is that correct?

[2017-04-10 13:53] xmflsct commented on #6
Cheers. That's correct, you cannot use the official app to connect to it. All official programs on the camera are not initialized to give way to RTSP service. So it is your choice to go for either RTSP in this project, or official one in [shadow-1/yi-hack-v3](https://github.com/shadow-1/yi-hack-v3).

[2017-04-10 22:53] xmflsct commented on #5
@andy2301 Somehow, I could not even get my sample_venc to work again somehow. :( Same error as I mentioned above about ISP error, and I could not trace down the problem.

By the way, two findings:
1. [hi35xx/live-streamer](https://github.com/hi35xx/live-streamer), this seems to be interesting?
2. While I `cat /proc/media-mem` with `rmm` running, this seems to be the mapping of all video buffers in

[2017-04-10 23:29] shadow-1 commented on #5
@xmflsct
Interesting find with the live-streamer. I won't be able to look into it for a while. Shame that the author decided to write his project in C++ and not straight C if it turns out to be a promising library.

[2017-04-11 10:03] xmflsct commented on #5
@shadow-1
No worries. I think we are progressing very fast already. :)
Sadly my limited knowledge to C/C++ cannot contribute that much of you guys' programming. But I am up for any testing/debugging/researching/etc./etc., to save your time!

[2017-04-13 05:14] comicchang opened #7 "rtsp server not working"
Just test on master branch, telnet and ftp working well, but rtsp server not

logs
[code]

ffmpeg log
[code]

~~maybe my firmware is too old?~~
checked, my camera firmware is 2.0.0.1A_201612231003

[2017-04-13 15:13] vaidyasr commented on #5
@andy2301
Link for 2.0.0.1A_201612051401
http://download.xiaoyi.com/smarthomecam/2.0.0.1A_201612051401home_y20m

[2017-04-16 00:19] andy2301 commented on #5
guys, i cooked another version of rtsp server that streams from /tmp/view continuously. This one should work side by side with the existing stock features. So far it's only tested on the original 2.0.0.1A firmware.
[rtsp2303_live_bin_20170414-1630.zip](https://github.com/xmflsct/yi-hack-1080p/files/923990/rtsp2303_live_bin_20170414-1630.zip)

[2017-04-16 00:41] andy2301 commented on #5
Remember that my prior streaming solution rtsp2301 requires to shut down the stock streaming process `rmm`, rendering the YiHome app function and all other motion detection functionalities unavailable. So, I started looking for a different solution that co-exists with the stock features.

Thanks to @shadow-1, who mentioned that the `rmm` process writes two streams 1080p and 360p to file /tmp/view

[2017-04-16 00:49] andy2301 commented on #5
There are some of the variables used in rtsp2303. You can change these default values from the command line by setting env variables (as demonstrated in rtsp2303.sh script).
[code]

The following is the logic of the `monitorChanges` implementation.
[code]

[2017-04-16 02:02] shadow-1 commented on #5
@andy2301
Great work! I won't have a lot of time to test this yet.
However I do have an observation:

Are you sure `/tmp/view` is a circular buffer? From my experimentation with the live555 library in the past, I never seen behaviour that suggests that it could be a circular buffer. From my experimentation, I was led to believe that it is probably a simple FIFO buffer, so the latest video data is

[2017-04-16 02:14] andy2301 commented on #5
@shadow-1 I think it's a circular buffer.
Following your post, I ran the following to always stream the 150k bytes [900000, 1050000]. It simply repeats the 1~2 seconds of video frames, for example 18:12:41 - 42, and then after 10 seconds it jumps forward to 18:12:50 - 51.

`startOFS=900000 repeatOFS=1050000 VERB=1 readsPMON=-1 ./rtsp2303`

[2017-04-16 02:27] shadow-1 commented on #5
@andy2301
Ah ok, no problems.

With regards to the offsets, I have a suspicion that it will be either located somewhere within `/tmp/mmap.info` or be hardcoded within the application.

When I get more free time, I can disassemble the Xiaomi applications and trace what is being read from `/tmp/mmap.info`.

[2017-04-16 03:45] andy2301 commented on #5
Please do when you get time. Thanks. @shadow-1

[2017-04-16 06:45] xmflsct commented on #5
@andy2301
Wonderful progress! I am away currently, and will be back for helping testing in three days.

[2017-04-20 17:23] xmflsct commented on #7
@comicchang Actually your firmware is too 'new'. This program is tested on firmware **2.0.0.1A_201612051401**, and it does not run well on newer firmwares as some system libraries have been updated. Do you have a backup of your previous firmware?

[2017-04-20 18:23] xmflsct commented on #5
@andy2301 I am back, and just test a bit. Indeed after every reboot, `rtsp2303` performs differently as per chunk data varies. `mmap.info` also varies a bit after each reboot, but I am not sure if those differences represent chunk size or offset. But at least in the v1 example, `mmap.info` is used somehow.

To provide a separate idea that might be useful. Since when streaming with live555 of `/tmp

[2017-04-21 02:43] comicchang commented on #7
@xmflsct nope, my camera shipped with 2.0.0.1A_201612231003

is there anyway to flash it back to 2.0.0.1A_201612051401?

[2017-04-22 13:40] xmflsct commented on #7
@comicchang Try this one, and let me know if it is working.

[home_y20.zip](https://github.com/xmflsct/yi-hack-1080p/files/949006/home_y20.zip)

[2017-04-22 14:59] comicchang commented on #7
@xmflsct it's not woking, maybe I should try upgrade to the newest firmware and then downgrade it?

[2017-04-22 15:24] comicchang commented on #7
I found the problem, I formatted the tf card to exfat format instead of fat32
after reformat, the image worked

thank you

[2017-04-22 15:27] xmflsct commented on #7
@comicchang Yes, you need to have the SD card in FAT32. So the RTSP is working now?

[2017-04-22 15:32] comicchang commented on #7
@xmflsct

well, the rtsp server still not working

test from my laptop
[code]

[code]

how did you test the rtsp server?

[2017-04-22 15:36] comicchang commented on #7
@xmflsct ah, I tried vlc and its working now

thank you

[2017-04-22 16:54] xmflsct commented on #7
Great! You are welcome. :)

[2017-04-22 16:54] #7 closed

[2017-04-23 15:44] iokeonglok commented on #7
Hi @xmflsct , originally i have the same condition as @comicchang.
i have the 1080p cam shipped with firmware 2.0.0.1A_201612231003.
tried the "test" folder, got ftp and telnet working but not rtsp.

then tried the home_y20 & rootfs_y20 (from [issues/#3 (comment)](https://github.com/xmflsct/yi-hack-1080p/issues/3#issuecomment-291118970)). yellow led flashed for around 10 seconds (very short time).

[2017-04-24 10:24] xmflsct commented on #7
@iokeonglok very short flashing time means only the rootfs is flashed successfully. Try to place only home_y20 in SD card and see if it gets flashed. Flashing home partition usually takes more than half a minute.

[2017-04-24 16:19] iokeonglok commented on #7
@xmflsct i started from the beginning again on a another new 1080p cam also shipped with a newer firmware.
first, with hom_y20 only and it can be flashed successfully, firmware downgraded (confirmed with the log.txt) however can't connect to my router. i got the same log.txt (short log.txt) as [this one](https://github.com/xmflsct/yi-hack-1080p/issues/6#issuecomment-292942284).
following his metho

[2017-04-24 16:23] xmflsct commented on #7
@iokeonglok Try this rootfs.
[rootfs_y20.zip](https://github.com/xmflsct/yi-hack-1080p/files/952424/rootfs_y20.zip)

[2017-04-24 17:14] iokeonglok commented on #7
@xmflsct your file can be flashed and the cam has respond again.
however, with DHCP ON, i still got the short log.txt stopped at "Do network configuration (DHCP)"
with DHCP OFF, i got the log.txt as below

Starting to log...
[INIT] Your firmware version is:
2.0.0.1A_201612051401
[INIT] Killing original init.sh script.
[good] busybox 1.16.1 is in the system.
[good] rtsp2301 is in the system.
Check

[2017-04-24 20:30] xmflsct commented on #7
@iokeonglok Can you try this home partition of my original packaging?
[home_y20.zip](https://github.com/xmflsct/yi-hack-1080p/files/953058/home_y20.zip)

[2017-04-25 14:44] iokeonglok commented on #7
@xmflsct Thank you very much, it works!

i guess you guys are still working on this cam to make it better.
just some findings want to share with you for your information. (maybe you already knew)

computer using VLC player to access rtsp has absolutely no problem, even i opened multi VLC to access the samp rtsp. however when mobile apps (both tinycam Free and MXplayer) tried to connect to the cam,

[2017-04-25 14:58] iokeonglok commented on #7
NAS try to connect the cam via rtsp also causes rtsp service to fail

[2017-04-25 15:04] xmflsct commented on #7
@iokeonglok Do you know which program is running behind your NAS? Like ffmpeg or live555 or others?

[2017-04-25 15:08] iokeonglok commented on #7
@xmflsct sorry not sure. i'm using Synology DS214Play surveillance station application.

[2017-04-26 01:20] comicchang commented on #7
I encountered this too,

try
1. set surveillance station to record continuously (instead of on motion)
2. add a daemon to restart rtsp on crash

but in my experience, rtsp2301 will report something about PWM error after few crashes

[2017-04-28 14:21] xmflsct commented on #7
@iokeonglok @comicchang

I cannot reproduce your issue of crashing. I tried with VLC, ffmpeg and live555 for receiving stream, either it complaints that the protocol is not supported (won't crash the RTSP server), or just runs fine without any problem for quite some time.

When you encounter a crash of RTSP server, you mean the program exit completely? In this case, I can definitely add a daemon t

[2017-04-28 14:35] iokeonglok commented on #7
@xmflsct @comicchang
The continuously record in surveillance station won't work neither, because the rtsp service crashed when I just click to test the connection.
When encountering the rtsp crash, my mobile app (and NAS app) said can't play the stream. Then the original VLC program on computer just stopped working and can't reconnect any more.
I try to post the VLC log later on.

[2017-04-28 14:46] xmflsct commented on #7
@iokeonglok As far as I know, the RTSP service code used in this program is not the most up-to-date one, thus it could not be supporting all features requested by new software.

A simple way to check if the RTSP exits after crashing, just telnet in and run `ps` and see if the program is still in the list.

[2017-04-28 15:21] iokeonglok commented on #7
@xmflsct Yes, the rtsp2301 isn't in the list anymore when crashed.

[2017-04-28 15:22] xmflsct commented on #7
@iokeonglok Right, I will get a daemon and let you know.

[2017-04-28 15:28] iokeonglok commented on #7
@xmflsct but not sure whether the extra rtsp request from other application will keep causing rtsp to crash
here are the error message from VLC when rtsp crashed. hope this can help.

### core error: ES_OUT_SET_(GROUP_)PCR is called too late (pts_delay increased to 1163 ms)
core error: ES_OUT_RESET_PCR called
live555 error: Failed to connect with rtsp://192.168.1.95/ch0_0.h264
access_realrtsp erro

[2017-04-28 15:39] iokeonglok commented on #7
@xmflsct i restart the rtsp2301 in telnet. when VLC connects, it shows

_Incoming RTSP connection accepted on socket: 16
EventLoop Connection reached: 3
192.168.1.136 Port:52013
exit Rtsp_state_machine_

but when my mobile app connects, it shows

_Incoming RTSP connection accepted on socket: 18
EventLoop Connection reached: 4
fd:18,RTSP connection closed by client.
user abort! no user online now r

[2017-04-28 15:43] xmflsct commented on #7
@iokeonglok So after you restart rtsp2301 in telnet, VLC connects fine and does show video, right?

[2017-04-28 16:41] iokeonglok commented on #7
@xmflsct yes VLC shows video again but i have to start the stream again manually.

[2017-04-28 20:02] andy2301 commented on #5
Sorry for late reply. I went on a trip and just got back.

I didn't get much useful info from mmap.info. Maybe @shadow-1 can help us there.

@xmflsct yes it'll be great if you can figure out how to read the h264 headers and adapt to the file dynamically. rtsp2303 is based on live555. I'm attaching the source code. My modification involves mainly `rtsp2303.cpp` and `livemedia/ByteStreamFileSource.c

[2017-04-28 21:59] xmflsct commented on #5
@andy2301 No worries. Hope you have had a great time. :)

Recently I was also thinking about using live555 as a base, since the test program can stream /tmp/view without problem, and we just have to somehow tell it to restart every `x` seconds. I will take a look into your source code.

[2017-04-29 16:47] cnberg commented on #7
I got the same issue after I put shadow-1's "Stock Firmware" rootfs_y20 firmware(on the end of this page: https://github.com/shadow-1/yi-hack-v3) in SD card with the "test" folder by yi-hack-1080p.

I can access the telnet & ftp, but the rtsp server crashes after about 10-20s streaming.

[2017-04-29 17:08] cnberg commented on #7
Oh, I got the problem.
When I try to connect the rtsp server via VLC, everything goes fine; but ffmpeg causes this error.

[2017-04-29 17:37] xmflsct commented on #7
@cnberg Can you post your command line of ffmpeg?

[2017-04-29 17:41] cnberg commented on #7
[code]

But this one works:

[code]

--------------
Yours sincerely
berg
http://cnberg.com
@cnberg

On Sun, Apr 30, 2017 at 1:37 AM, Zhiyuan <notifications@github.com> wrote:

[2017-04-29 19:14] xmflsct commented on #7
@cnberg For me, ffmpeg won't work no matter what protocol I specify. But live555 works perfectly fine. I guess the source code of RTSP implementation used in this version is incomplete. For this RTSP server, use other alternatives to connect, like live555.

[2017-04-29 19:48] cnberg commented on #7
@xmflsct Fine, I will try.

I have one more question, on my camera with this hack, the 720p rtsp streaming output was clipped from the original 1080p, my expectation is a half size of the original output.

[2017-04-29 19:53] xmflsct commented on #7
@cnberg Hmm.. I didn't notice this. This seems to be weird, as the 720p stream is requested directly from the hardware, as far as I know. The RTSP service is developed by @andy2301, so he might have an idea why.

[2017-04-30 02:19] shadow-1 commented on #5
@andy2301 @xmflsct
I hope to find some time to start working on RTSP soon!

I like Live555 because it is a very mature library that is actually used in many commercial applications. However what I don't like about it is that it is written in C++ which makes the file size quite large (in comparison with C programs) and of course there is a dependency on the standard C++ library libstdc++.

@xmflsct

[2017-04-30 08:53] xmflsct commented on #5
@shadow-1
That's wonderful! I will rely on you guys to take RTSP service further. :)

[2017-04-30 10:43] andy2301 commented on #5
The libstdc++ lib is from the Yi 720p v1 firmware. I used a stripper called upx which reduced the rtsp2303 footprint to less tha 200k.

[2017-05-01 10:48] GuryYu opened #8 "RTSP 720p video is crop from 1080p video?"
Video form rtsp 720p is much smaller than 1080p video ,it looks like crop from 1080p video. The general approach is to scale from 1080p video.Is it a bug?
By the way, infrared night vision can't be used either.

[2017-05-01 14:55] xmflsct commented on #8
It is not a bug. The current RTSP server is an early test version created by @andy2301, which interfaces directly with the hardware itself. This won't be the path that we are going further.

Currently, @andy2301 and @shadow-1 are working hard on a different approach that takes data directly from those that are generated by the official application (which also takes care of night vision, etc.). Til

[2017-05-02 01:01] #8 closed

[2017-05-10 10:23] xmflsct commented on #7
@comicchang I have update the project with a rtsp2301 watch process. Now it will restart the process if it crashes. This watch process will also log how many times it has been restarted on `/var/run/restart.log` just for your reference.

[2017-05-10 10:25] xmflsct commented on #5
@andy2301 I have put my 1080p camera into production together with my other original 720p one. It runs now with your `rtsp2301` process. It sometimes crashes so I add a watch process to restart it when this happens. Luckily with current setup, I can easily update files remotely and test new setups. Please let me know if you have further progress with `rtsp2303`. :)

[2017-06-01 04:58] bunver opened #9 "RTSP does not respond"
Hi,
Thanks for such a good job!

Unfortunately, RTSP didn't work for me.

I'm able to access to FTP but when I try to access to RTSP via VLC player (rtsp://10.0.0.101:554/ch0_1.h264) it waits for 10 seconds in play mode, doesn't show any video just black screen and then stops.

Here is the log:

Starting to log...
[INIT] Your firmware version is:
2.0.0.1A_201612231003
[INIT] Killing original init.

[2017-06-01 05:22] xmflsct commented on #9
According to the log, your firmware version is higher than required. I will send you a firmware image later today for you to flash. After that, RTSP should be working.

[2017-06-01 08:04] bunver commented on #9
Thanks, waiting for that!

[2017-06-01 16:49] xmflsct commented on #9
@bunver here you are.
[home_y20.zip](https://github.com/xmflsct/yi-hack-1080p/files/1045498/home_y20.zip)

[2017-06-02 04:06] bunver commented on #9
Thank you a lot! Firmware successfully downgraded and I'm able to access RTSP streaming. Everything is fine.
Can I ask a favor? I need the function below like [death2all110](https://github.com/death2all110/yi-hack) did before,

### Motion notifications
# Optionally POST a JSON message of the status of motion detection to a URL
# Values : URL to POST notification to, or leave empty to disable
MOTIO

[2017-06-09 20:13] ulyanovis opened #10 "No sound in RTSP stream"
Hi,

First of all thank you for your work on making this camera really useful.  Followed all the instructions I have managed to get video stream from RTSP server in my VLC player. But there is no sound, how can I fis this?

[2017-06-11 12:38] xmflsct commented on #10
You are right, this test version of RTSP server only transports image data.

[2017-06-11 12:38] #10 closed

[2017-07-29 11:13] guerrerocarlos commented on #2
@andy2301 found the source code for rtspsvr:
https://github.com/shengang1006/rtspsvr

[2017-09-29 14:04] jbmfg opened #11 "Trying to dump rtsp to file with ffmpeg"
Tried several commands but always get:

[rtsp @ 0x561e3df07ee0] method SETUP failed: 461 Unsupported transport
rtsp://192.168.0.252/ch0_0.h264:554: Protocol not supported

What transport & protocol should i be using?  Tried forcing TCP and UDP but to no avail

[2017-09-29 14:09] xmflsct commented on #11
The RTSP support in this project is in early experimental stage, but not in development anymore. Please refer to [](https://github.com/shadow-1/yi-hack-v3) for further developments in RTSP support.

[2017-09-29 14:09] #11 closed

[2017-11-18 17:14] raymondlml commented on #9
Hi, I have the same problem but with the correct firmware. Can you please help to take a look to see what went wrong? Thanks!

Starting to log...
[INIT] Your firmware version is:
2.0.0.1A_201612051401
[INIT] Killing original init.sh script.
[good] busybox 1.16.1 is in the system.
[good] rtsp2301 is in the system.
[good] rtsp2301_watch.sh is in the system.
Check for wifi configuration file...
/tmp/

[2017-11-26 13:43] naterh commented on #5
@shadow-1 late to the party but, looks like there are some http streaming add-ons included with the SDK

http://blog.51cto.com/shugenyin/1851241

[2017-12-01 07:53] SeydX opened #12 "[Question] Yi Dome 1080p"
Does this hack only support Yi Home V1?
Or is it possible to hack Yi Dome 1080p too?

[2017-12-01 08:06] DJay79 commented on #12
Also curious about this Hack for Dome 1080p, especially RTSP.
Thanks in advanced for a reply and @xmflsct for investing your time and hopefully ongoing development. 👍🏻

[2017-12-11 02:51] jazzbrownie opened #13 "Can't access audio stream"
Is this normal/expected?  I read elsewhere that people have been able to stream audio from their cameras using ch0_3.h264 instead of ch0_0.

[2017-12-30 18:19] burntoc opened #14 "Can access RTSP from VLC but not any IP viewers?"
Any chance you can help me understand why I CAN access RTSP directly via VLC (awesome, thank you!) but I've tried Tinycam and at least 3 other IP cam viewers that work with all of my other cameras but they tell me they cannot connect - usually saying port 554 isn't accessible on that IP even though it would clearly seem to be based upon what VLC shows?  I've tried RTSP over HTTP, TCP, and UDP and

[2018-01-20 16:02] daniel-matthews opened #15 "Video recording to SD card"
Hi,

Does this firmware disable the cameras ability to sense motion or to write video to the SD card?

Thanks.

[2018-02-09 19:24] andrewjb opened #16 "RTSP Server source anywhere?"
Is the source for the rtsp server used in this available anywhere? It seems to be a branch of ashwing920/rtspserver but there are clearly some modifications. With the source I might be able to get it playing with an onvif. At the moment its too fussy about the rtsp parameters it parses..

[2018-02-09 19:32] xmflsct commented on #16
Thanks for the heads up! We had a long discussion thread last year... There you might be able to dig up the source files we used. https://github.com/xmflsct/yi-hack-1080p/issues/5

[2018-02-09 19:55] andrewjb commented on #16
Aha - found it, thanks. If I can get that to compile it'll be a lot easier than my current method of disassembling and patching the existing binary by hand!!

[2018-02-10 21:43] xmflsct commented on #16
Good luck! And please share your success. :)

[2018-02-15 13:38] ontdamian opened #17 "Yi Home 720p (HiSilicon Hi3518eV200 chipset) support"
Hi,

is there any chance to get this hack working with Yi Home 720p based on HiSilicon Hi3518eV200 chipset?
I tried to put this firmware on my camera with some "partial" success.
After few LED blinks camera stay with constant blue LED light and is connected to my wifi.

Also on SD card there are some mp4 video records and tmp.mp4.tmp file created in folder "record".
However I can't access to RTSP

[2018-03-21 11:58] leofuscaldi commented on #17
I would like it too!

[2018-04-06 08:39] LaFed opened #18 "apply this over yi-hack-v3?"
Im currently using yi-hack-v3 I find it to be unstable... I would like to try this yi-hack... Do I just copy the files in and it will overwrite my v3 hack? Thanks

[2018-05-08 08:22] cicciokio opened #19 "Yi Dome support"
Does it work with Yi Dome 720 camera?
Thanks

[2018-06-10 07:27] saundersrg commented on #5
You people are legends. I've got RTSP running on a Yi Dome 1080p with @shadow-1 firmware and @andy2301 script, thank you!

[2018-06-20 00:04] gelsas commented on #5
@saundersrg could you share the final files you used and a short tutorial? I would love to use it aswell on my dome 1080p

[2018-06-20 05:28] saundersrg commented on #5
It really didn't work as well as I'd hoped tbh, and was really simple. I've ended up selling the Yi and buying a Foscam FI9821P. Comparable pricing with full ONVIF, RTSP and support in Zoneminder.

Firstly I flashed with the firmware from @shadow-1, and made sure I could SSH. I then took the scripts from @andy2301 moved them (WinSCP/PuTTY) into a folder under /home/ and tested that I could launch

[2018-07-21 08:35] noisemaker00 commented on #17
@ontdamian how you do that? I have the same camera (720p, Hi3518, YHS-113-IR) and I would try.
How can I discover the firmware version without YI app?

[2018-07-21 09:19] ontdamian commented on #17
@noisemaker00, firstly I upgraded firmware according to [shadow-1/yi-hack-v3](https://github.com/shadow-1/yi-hack-v3). It offers much more features, but no RTSP, which I needed.
Finally I gave up and bought Dafang camera which hacked works like a charm.

[2018-08-04 16:46] lance36 opened #20 "Yi Home 17CN / 27US / 47US (720p) support?"
Hi,

I have the above camera and wanted to use RTSP, disabling yi features.
would this work? or should i use the v1?
i know shadow-1/yi-hack-v3 works but it dosen't allow for RTSP.

[2018-08-04 19:49] xmflsct commented on #20
Hi, if you have 720p version, please use that one as that ones works perfectly of RTSP.
This version of 1080p has shabby support of RTSP, sometimes it works sometime it doesn't. So you can try it out if you wish, and wait for v3. :)

[2018-08-05 11:44] lance36 commented on #20
Thanks!

[2018-08-05 12:07] lance36 commented on #20
looks like it's not fully supported on the 17CN / 27US / 47US  with the updated firmware revision, wondering if there is a way to downgrade\make it work as i currently have the v3 installed...

[2018-08-12 01:37] lenliscio opened #21 "Hack stopping at NTP setup, and not moving on."
I just bought a Yi 1080p Home camera, it had a higher 2017 firmware, so I downgraded it to 2.0.0.1A_201612051401.
I load the SD card with the changes, but it stops at the setting of NTP.  I can ping the IP, but it never gets to setting up anything after NTP.
Here's the log, it says it is setting NTP, but then that's it.  I tried modifying the factory_test file, taking out the NTP section, but then

[2018-09-15 20:26] tbayart opened #22 "Night vision ir leds issue"
Hi,

I Have 2 Yi Home 1080p cameras where I applied the hack
But when I turn off the light, I no longer hear the 'clic' for ir led toggle
I removed the sd card and the ir leds are working again
is there something in config to do to retrieve night vision ?

Starting to log...
[INIT] Your firmware version is:
2.0.0.1A_201612051401
[INIT] Killing original init.sh script.
[good] busybox 1.16.1 is in t

[2018-10-02 11:13] fedyfausto opened #23 "Cloud features?"
There is any possibility to active the cloud features too?

[2018-10-05 22:43] andy2301 commented on #5
@saundersrg the client device disconnecting issue is expected, as I mentioned in my previous comment when I published `rtsp2303`. Recently I got some help from another thread. Might be able to fix this if things go well.

[2018-10-12 03:34] corrado33 opened #24 "Correct firmware, telnet/ftp working, rtsp NOT working."
I downloaded the correct firmware from xmflsct in another issue here, then installed the hack. It, at first, got stuck on setting the time until I modified the program to use google's ntp server address directly (ip address, no lookup). Now everything works... except the rtsp (which is the whole reason for this hack.)

Log file here.

Starting to log...
[INIT] Your firmware version is:
2.0.0.1A_20

[2018-10-12 03:55] corrado33 commented on #24
Nevermind, it works, for some reason it just didn't work on one of my computers.....

Thanks for this!

[2018-10-12 03:55] #24 closed

[2018-10-12 03:58] corrado33 commented on #21
I had this problem too. The first issue I had is that windows messes up the files when you try to edit them. (You had the same problem.) So you have to edit them on a mac or on a linux box.

Then, what I did was this. I first had to enable editing on the factory_test.sh file. In the command prompt I navitaged to the folder it was in, then typed

chmod 777 factory_test.sh

Then I edited the ntp set

[2018-10-13 01:26] corrado33 opened #25 "RTSP server disconnects every.... 30 seconds?"
Anyone else have this issue? The server works... but after leaving it running for a night, in the morning the server would disconnect every 30 seconds for a ~10 seconds. Network strength is excellent, literally 20 feet from the router.

I don't have this issue with the Yi app itself. Is there anything I can do to make this not happen? I tried reducing the FPS but that didn't help. Oh and the Telne

[2018-11-01 20:17] yatanasoff opened #26 "Lower video resolution"
Hi. Is there any way to change the RTSP server configuration to produce a lower quality video? I'm limited by the bandwidth.

[2018-11-20 14:57] blawford commented on #18
I found I had a revert back to the stock firmware in order to get this to work (it requires a specific version, as it says in the readme). There are images for reverting in the **yi-hack-v3** repo.

[2018-12-18 03:57] squirrel289 commented on #5
Hey @andy2301!  Thanks for sharing your work with everyone.  It seems that, between your contributions and those of the several base images (like this one and @shadow-1) many have _nearly_ managed to get a working rtsp solution on these puppies.  I wanted to see if you'd managed to incorporate the latest changes you referred to in your last note.  If so, any chance you'd be willing to share?  If n

[2019-01-06 15:41] Nixellion commented on #19
+1 to the question

[2019-03-16 15:08] BoPeng opened #27 "Camera bricked after downgrading firmware"
I got this Yi 1080p Home Camera 48US version with the latest firmware 2.1.0.0E_201809191630. Everything worked fine but I wanted to enable RTSP so that I can view the videos from my TV (Roku + IP Cam Viewer). The instruction said that I need to downgrade the firmware so I found a SD card, formatted it in FAT32, downloaded the firmware from [here](https://app.box.com/s/cibs7n1mgvhqaqjlidtveegu1uajt

[2019-03-16 15:10] xmflsct commented on #27
Try push the reset button on the back. Sometime this helps with downgrading.

[2019-03-16 17:15] BoPeng commented on #27
No, it did not help. I posted this question also because I saw [this post](https://community.home-assistant.io/t/yi-home-1080p-bricked-after-alternative-firmware-install/105456/2) so maybe this will happen to all recent cameras.

[2019-03-16 17:21] xmflsct commented on #27
Have you tried putting the sd/test content on the SD card? Try it, turn is on for a short while (like 2 minutes or so), then see if you can get a log output on SD card.

[2019-03-16 21:29] BoPeng commented on #27
Just tried. No log file is created. So it looks like the rootfs image is not compatible with this new version of hardware and bricked it.

[2019-03-16 21:39] BoPeng commented on #27
At this point I believe that the only possible way to de-brick the camera is to use a flash tool to flash the ELF of the camera with a USB connection. Do you happen to know such a tool?

[2019-03-17 07:54] xmflsct commented on #27
Seems like there has been already some discussion about 48US cameras on yi-hack-v3 project. Some reported flashing successfully at the end.
[USB UART](https://www.amazon.com/Converter-Terminated-Galileo-BeagleBone-Minnowboard/dp/B06ZYPLFNB/) Something like this would work. Just screw off the back and connect the pins.

[2019-03-17 14:00] BoPeng commented on #27
Ohm, what exactly am I supposed to do after connecting the pins? Any reference? I can buy another camera ( I can make use of two) if an intact image is needed.

[2019-03-17 14:50] xmflsct commented on #27
Then you need a serial monitor in your computer, you can find a lot of freeware. By then you would be able to see exactly what caused the problem basically the boot log. I remember we can also flash images but don't remember exactly.

Not sure what is the issue with 48US as image recovery always worked for me and others while developing this project.

[2019-03-17 15:23] BoPeng commented on #27
Will this [USB to TTL UART 6PIN Module Serial Converter CP2102 STC PRGMR Free cable](https://www.newegg.com/Product/Product.aspx?Item=9SIAA0C5301215) work the same as the more expensive one on Amazon?

[2019-03-17 16:58] xmflsct commented on #27
Looks fine. Good luck!

[2019-03-17 19:37] mvereecken commented on #27
Following! :-)

[2019-03-21 03:51] BoPeng commented on #27
TTL cable ordered but has not arrived yet. Just note that https://www.youtube.com/watch?v=fBjKTfWN4TI might be the video I have to follow closely to fix the camera.

[2019-03-21 08:54] xmflsct commented on #27
Exactly!

[2019-03-22 04:10] Loafdude commented on #27
I'm having similar problem. 48US. I have serial console on it.
Sometimes I get solid yellow, sometimes I get flashing yellow.
When solid yellow and it seems to freeze during boot, flashing yellow and it completes boot.
No SD card seems to help with not freezing during boot

I can reliably flash the cam. Tried v3 recover, v3 0.1.6,  v4 0.0.3 and v4 0.1.0
The stock image from yi website is malformed

[2019-03-22 04:20] BoPeng commented on #27
@Loafdude Were you able to find a working ROM for it? I have bought another identical camera so it is possible for me to extract the stock ROM and share it somewhere.

[2019-03-22 04:26] Loafdude commented on #27
Working in what way? I have many semi-working roms
I'm not sure if the problem is rom related as I've tried 4 roms and they all exhibit similar behavior

Its like an eeprom is misconfigured or something.

[2019-03-22 04:29] BoPeng commented on #27
My camera worked perfectly with the stock ROM, so if no third-party ROM works for you, perhaps this camera has some new feature and can only work with the stock ROM (for now).

[2019-03-22 04:31] Loafdude commented on #27
I'm not sure how to extract a flashable image from yours

[2019-03-22 04:35] BoPeng commented on #27
Not sure either. I will need to learn how to flash other images after I get my TTL cable because right now I only see solid yellow and cannot flash anything.

[2019-03-22 04:37] Loafdude commented on #27
I've pinged the creator of v4 hack. He may have thoughts I can persue. He may also have a more current stock fw link

[2019-03-22 04:49] Loafdude commented on #27
Just got it semi-fixed

I flashed hack v3 0.1.6
Got it to boot after a few tries - ended with flashing yellow light.
Showed the wifi config QR code and the camera read it although it wasn't asking for it
Camera configured itself and now connects at boot.

Still have crashes at boot though...

[2019-03-22 06:18] Loafdude commented on #27
rtctime=$(/home/base/tools/rtctool -g time) in /home/base/init.sh is causing bootup to stall
looking for solutions atm

[2019-03-22 06:41] Loafdude commented on #27
I've commented a line that stores the realtime clock into the enviroment variable and have reliable booting again. It seems no functions are relying on that variable? not sure... regardless it is a but tough to pull off without the serial console.

If your camera does not start flashing blue or yellow before 20 seconds reboot it
keep doing this until you get flashing yellow
once you have flashing

[2019-03-22 15:11] xmflsct commented on #27
You can get back stock ROM once you receive your second camera and TTL cable. [](https://github.com/xmflsct/yi-hack-1080p/issues/5#issuecomment-291814173)

[2019-03-22 16:48] Loafdude commented on #27
how do you wrap the dd output to pass the magic number checks?\

[2019-04-06 03:42] BoPeng commented on #27
I got my TTL cable but saw that @mvereecken [got his camera fixed](https://github.com/TheCrypt0/yi-hack-v4/issues/17#issuecomment-475993757) with https://github.com/TheCrypt0/yi-hack-v4/releases/tag/v0.1.1 . I tried it and I can confirm that that version worked and unbricked my camera. Now I need to decide if I should wait for a release from this repo for RTSP support, try the RTSP version of yi-h

[2019-04-06 17:51] mvereecken commented on #27
Hi @BoPeng, I donated to the guys and got access to their Discord channel for supporters and have RTSP working now :-). So you should definitely give it a try.

[2019-04-06 20:05] BoPeng commented on #27
Thanks @mvereecken , I will do the same.

[2019-04-06 20:05] #27 closed